[2019-06-10 04:29] Leopere opened #1 "FeatureRequest: Can diun if it has an update target container function use docker labels?"
With a number of other things like [Watchtower](https://github.com/containrrr/watchtower) and [Ouroboros](https://github.com/pyouroboros/ouroboros) you can establish [container labels](https://docs.docker.com/engine/reference/commandline/run/) these labels can present triggers to other docker controlling and monitoring systems.

The thing I would love to see is for Diun to look for labels and just

[2019-06-10 04:34] Leopere opened #2 "FeatureRequest: In regards to a container having a healthcheck and the update function"
The issue I often see with automated self-updating containers is that many package maintainers don't design proper stateless containers and often an auto-updater like Ouroboros and Watchtower two very unsafe options, in my opinion, have zero awareness of the status of the updated container.

If Diun could possibly check if the container was running and healthy if health-checks are available of cou

[2019-06-10 12:43] crazy-max commented on #1
Hi @Leopere,

Perhaps I misunderstood your request, but I would like to point out that unlike other tools like WatchTower, Diun is not intended to update containers but only to send notifications when an image is updated on a registry.

On the other hand, I have planned in my [TODO list](https://github.com/crazy-max/diun#todo) to check images running via the Docker daemon. We could potentially use

[2019-06-10 12:46] crazy-max commented on #2
Like I said in #1, unlike other tools like WatchTower, Diun is not intended to update containers but only to send notifications when an image is updated on a registry.

[2019-06-10 16:29] Leopere commented on #1
The misunderstanding was mine I skimmed the documentation after seeing your
post on /r/docker and though I saw mentions of an update function. I love
the project thanks for the contribution to the internet.

On Mon, Jun 10, 2019 at 8:43 AM CrazyMax <notifications@github.com> wrote:

[2019-06-10 16:29] Leopere commented on #2
Yes feel free to close this.

On Mon, Jun 10, 2019 at 8:46 AM CrazyMax <notifications@github.com> wrote:

[2019-06-10 17:46] #2 closed

[2019-06-10 18:44] Leopere opened #3 "Use docker labels rather than statically defined configs"
Referenced feature in #1 and #2

[2019-06-10 18:44] Leopere commented on #1
Closed in lieu of the creation of #3

[2019-06-10 18:44] #1 closed

[2019-07-15 12:27] datosh opened #4 "Diun crashes when empty config is passed"
### Behaviour

When you pass diun an empty config it crashes.

#### Steps to reproduce this issue

1. `touch diun.yml`
2. `diun config=diun.yml`

#### Expected behaviour

As far as I can see all config parameters are optional, since Config as `omitempty` for all fields, in https://github.com/crazy-max/diun/blob/master/internal/config/config.go#L20

#### Actual behaviour

Diun should start with def

[2019-07-15 12:31] datosh commented on #4
I had a quick look, if I can find & fix the error myself.
I downloaded (commit: 13df48f84d8281a0b948b9325fa4359e28609356) & build diun.
Worked without a problem!
Maybe fixed since last release?

[2019-07-15 12:48] crazy-max commented on #4
Hi @datosh,

Looks like an issue with Bolt DB. Can you post your `diun.db` please for further investigation and then can you remove `diun.db` file and try again ? See also etcd-io/bbolt#144

[2019-07-15 12:59] datosh commented on #4
Hey @crazy-max,
I just noticed when I run diun again it works find, I guess some initialization / null checks on diun side.
Anyway here is what I tested (in an empty directory):

[code]
[diun_db.zip](https://github.com/crazy-max/diun/files/3392374/diun_db.zip)

I attached the two db backups (as shown in output) as a zip. Will also investigate ;)

[2019-07-15 18:11] crazy-max commented on #4
@datosh CAn you give me the output of the following commands :

* `lsb_release -a`
* `uname -a`
* `lsblk -f`

[2019-07-16 07:18] datosh commented on #4
@crazy-max
I'm running Windows Subsystem for Linux (WSL) with Ubuntu 16.04.2 on Windows 10 (1809),
The path looks like this because fish is reducing it for me in the terminal to just the first letter.
The full path is `/mnt/c/git/diun_config/`.

[code]

I'm failing to actually reproduce the error when I'm building locally. I build HEAD & also tag 1.0.2, but the produced executable runs without any

[2019-07-16 11:56] crazy-max commented on #4
Yeah if you are building on your subsys it would work but this might just be hitting a not-yet-implemented-in-WSL part of the Linux system call interface. The WSL developers might appreciate a report if you can't find an already existing one (AIUI, WSL aims for Linux binary compatibility).

[2019-07-16 11:56] #4 closed

[2019-08-15 14:30] Snapple49 opened #5 "Cannot authenticate to private repo"
### Behaviour
I'm trying to run diun in a docker to watch a private docker registry, but I'm getting authentication issues. The logs of my container registry shows that diun attempts to authenticate but credentials are invalid

#### Steps to reproduce this issue

1. start diun in docker:
`docker run -it   -e "TZ=Europe/Paris"   -e "LOG_LEVEL=debug"   -e "LOG_JSON=false"   -v "$(pwd)/data:/data"

[2019-08-15 22:09] crazy-max commented on #5
Hi @Snapple49, thanks for your report.

What image do you use as a Docker registry ? (your `helm repo` link looks broken)
I have tested Diun against DockerHub, Quay, Artifactory, Gitlab, Harbor, Portus and don't have any issues with them.

[2019-08-16 07:56] Snapple49 commented on #5
Apologies, did not notice the link not pasting correctly! I'm using the stable helm charts of docker registry, https://github.com/helm/charts/tree/master/stable/docker-registry, using the default image they provide. This is the specific image version I'm using:

[code]

[2019-08-17 16:11] crazy-max commented on #5
Ok thanks, looks like an upstream issue linked to containers/image#641. We'll have to wait until containers/image#645 is merged but in the meantime I can rebuild Diun by including this PR to check if it works well on your side.

[2019-08-18 14:11] crazy-max commented on #5
@Snapple49 After digging, I've found a bug on Diun linked to registry options. I will push a fix asap.

[2019-08-18 20:39] crazy-max commented on #5
@Snapple49 Should be fixed with latest release

[2019-08-18 20:39] #5 closed

[2019-08-19 08:01] Snapple49 commented on #5
@crazy-max Awesome, thanks for looking into it! Can confirm it works now!

[2019-10-03 10:04] moqmar commented on #3
So, I'd suggest the following labels:

- `-l diun` just checks for `Config.Image` (so, the tag the container has been started with)
- `-l diun='^1\.2\..*'` enables watch_repo & checks for the matching tags (like include_tags)
- `-l diun='1.2.*'` - why not use wildcards if the tag name is valid except for the wildcard? This is also relevant for include_tags...
- `-l diun=true` is like `-l diun`
- `

[2019-10-03 12:17] seoester opened #7 "Load sensitive config values from "secrets""
Some fields of the configuration contain sensitive values:

 * `notif: mail: password`
 * `regopts: <name>: password`
 * ? `notif: mail: username`
 * ? `regopts: <name>: username`

Loading these values from a "secrets" mechanisms would be advantageous when deploying diun through an orchestration platform such as Kubernetes or Docker Swarm.
This could be achieved by reading the value from a file or

[2019-10-03 13:00] seoester opened #8 "Slack notification"
It would be great to have Slack as an alternative notification destination.

A straight-forward integration could use an Incoming Webhook. Using the Incoming Webhook API is quite simple - a single POST request is required. There are also Golang clients, e.g. [ashwanthkumar/slack-go-webhook][slack-go-webhook]. Slack's [Message Builder][message-builder] previews messages created via the API.

Slack

[2019-10-03 13:03] seoester commented on #8
I would implement the Slack integration myself, but I am rather busy for the next few weeks... Perhaps if this is still open after, I'll have a try.

[2019-10-05 04:04] crazy-max commented on #7
Hi @seoester, I like the idea!
And thanks for your support!

[2019-10-05 04:06] crazy-max commented on #8
Hi @seoester,
Sure, feel free to open a PR :)

[2019-10-05 04:36] crazy-max commented on #3
Hi @moqmar,

Thanks for your suggestions!

I would prefer to work with fields. This way we could easily serialize to the same struct as the current static configuration:

* `diun.enable=true/false`
* `diun.watch_repo=true/false`
* `diun.max_tags=0`
* `diun.include_tags.one=^1\.2\..*`
* `diun.include_tags.other=latest`
* `diun.exclude_tags.foo=^1\.2\..*`
* `diun.exclude_tags.bar=latest`

What do yo

[2019-10-11 17:48] moqmar commented on #3
Hm, I think having both possibilities would be great, so it's possible to "just enable diun" with a single-word-label, but also to directly configure it for more advanced options. I'll try to put something together. :)

[2019-10-11 17:50] crazy-max commented on #3
@moqmar Of course, I was just stating all the labels and there will be default values.

[2019-10-11 23:25] Leopere commented on #3
Glad to see this is still progressing in some way.  My biggest concern with running containers is that  you don't typically see any update notifications anywhere.  You can use things like Ouroboros and the other one I've forgotten but that's assuming that all containers are created equal and sadly this is not the case.  Sometimes you just use a container because it's the only one reliable enough t

[2019-10-12 16:20] moqmar opened #10 "Feature Request: send fewer notifications"
I can think of two ways here to make the notifications more overseeable:
- Sending all notifications during one cron check at once (instead of one email for multiple tags of the same repository, like it is right now)
- Sending only one email per day/week

I'd prefer this to be configurable, maybe by adding a `summarize` option to each notifier, which can then be set to `false` (don't change anythi

[2019-11-04 00:02] adhawkins opened #16 "Reload config on change"
### Behaviour

Config file should be reloaded if it changes

#### Steps to reproduce this issue

1. Start container
2. Allow check to run
3. Make config change
4. Expect new config to be picked up on next run

#### Expected behaviour

New config used on next run

#### Actual behaviour

Existing config used

### Configuration

* Diun version : 1.4.1
* Platform (windows/linux) : linux

[code]

[2019-11-06 08:29] RezzZ commented on #10
Why not send just _one_ notification per new docker image, unless there is again a newer image than the last one reported? Only need to keep track of the last notification send for each running container, to prevent duplicate notifications.

[2019-11-06 08:29] RezzZ opened #18 "Add mqtt as notification service"
Any chance you can add publishing to mqtt to this nice service?

[2019-11-06 09:51] crazy-max commented on #18
@RezzZ Yes we could publish msg to topics using [yosssi/gmq](https://github.com/yosssi/gmq) for example. Feel free to open a PR.

[2019-11-06 10:24] RezzZ commented on #18
I appreciate the offer but I really have no clue where to start. I'm still quite the newbie regarding hardcore coding :)

[2019-12-14 17:50] crazy-max commented on #3
@Leopere Done trhough release 2.0.0

[2019-12-14 17:50] #3 closed

[2019-12-14 17:50] crazy-max commented on #7
@Leopere Done trhough release 2.0.0.

[2019-12-14 17:50] #7 closed

[2019-12-15 23:09] Leopere commented on #3
Oh, that's very nice thank you!  I'm looking forward to plugging this thing into my entire docker stack!

[2019-12-17 23:00] crazy-max commented on #8
@seoester Available through v2.1.0 release

[2019-12-17 23:00] #8 closed

[2019-12-18 11:57] seoester commented on #8
Looks great, thanks a lot!

[2019-12-19 11:36] Docjones opened #22 "Make private registries with self signed certificate possible"
Running a private repository (eg. nexus) with https using a self signed certificate yields in

additionally, it would be good to have the username/password fields as optional for registries. Plus, a method to differentiate between repositories.

We pull images from
* our onw repository (ssl w/o authentication)
* a suppliers repository (ssl w/o authentication)
* public repository (docker.io)

[2019-12-20 21:38] crazy-max commented on #22
`insecure_tls` option [is already available](https://github.com/crazy-max/diun/blob/master/doc/configuration.md#regopts).

Authentication on the reigstry is enabled if at least the username is provided. So no auth if you leave empty username and password options.

Example:

[code]

[2019-12-20 21:38] #22 closed

[2019-12-23 10:39] Fizcko opened #23 "CLI command : add test notifications"
Hi,

I have an enhancement proposition : Add a command to the CLI to test the notifications settings.

This command will send a test mail, slack or webhook regarding the currents settings.

Thanks a lot

[2020-01-07 19:26] mzac opened #25 "Kubernetes support?"
Have you considered adding Kubernetes as a provider?  Or since a lot of kubernetes installs run on docker would you just point it to all your hosts?

[2020-01-07 19:47] crazy-max commented on #25
Looks ok to me, thanks for your input.

[2020-01-28 10:47] Latschenharry opened #29 "Synology Docker Version"
Is it possible to add a lower client version, so it can also run on Synology Devices?

The Following error occurs on startup:

ERR Cannot create Docker client error="Error response from daemon: client version 1.40 is too new. Maximum supported API version is 1.39" provider=docker-local

[2020-01-28 10:54] crazy-max commented on #29
@Latschenharry You can already override the client version using `api_version` for your docker provider: https://github.com/crazy-max/diun/blob/master/doc/configuration.md#providers

[2020-01-28 11:47] Latschenharry commented on #29
Thank you for the fast response. I only checked the docker variables.

[2020-01-28 11:47] #29 closed

[2020-02-18 12:05] VanKurt opened #37 "Diun on Synology DiskStation"
### Behaviour

When running diun on a Synology DiskStation, the following error comes up in the logs:

#### Steps to reproduce this issue

1. Install docker package on DiskStation
2. Download Diun latest
3. Start Diun container

#### Expected behaviour

Diun should start normally without any errors.

#### Actual behaviour

The error mentioned above prevents diun from starting correctly.

### Confi

[2020-02-18 15:21] crazy-max commented on #37
Duplicated of #29

[2020-02-18 15:21] #37 closed

[2020-02-21 09:13] logopk opened #40 "Link to dockerhub or the respective hub in notification mail"
Hi,

would it be possible to add a link to the tag page of docker hub (maybe other repos too).

I don't know if the url can always be deferred from the info like "docker.io/library/mariadb:latest"
-> https://hub.docker.com/_/mariadb?tab=tags

Thanks!

Peter

[2020-02-23 09:47] adrianp-sti opened #41 "manifest unknown: manifest unknown"
Running diun:latest in docker on a very basic config:

[code]

I've tried name with/without the "library" prefix also tried with/without the os/arch being specified.  I'm tracking a number of images from docker.io using diun and they are all working except for these two.  When I run diun I get the following:

[code]

With debugging on I get a little more info before each ERR:

[code]

[2020-02-23 09:55] adrianp-sti commented on #41
Ok, so after some digging if I specify "amd64/" in the name (e.g. amd64/kibana) it works.  Don't know why but, if it's a mistake on my behalf by choosing the wrong name then feel free to close the ticket.

[2020-02-23 15:12] crazy-max commented on #41
@adrianp-sti Please create a proper [bug report](https://github.com/crazy-max/diun/issues/new?template=bug_report.md).

[2020-02-23 15:19] #41 closed

[2020-02-25 10:12] Jonn3y commented on #10
Would love to see something like that too!

One E-Mail with all Containers that could be updated would be great. Like:
"There are some updates for your running docker containers available:"
| Installed  | Avaiable |
| ------------- | ------------- |
| Nextcloud 7 - id abcdefghijklmnop...  | Nextcloud 8 - id ...  |
| mySQL 5.5  | mySQL 5.7  |
| ...  | ...  |
| some old container  | some newer conta

[2020-02-26 18:55] vl-bwalocha opened #43 "Result sorting"
Hi,

The results from (i.e. Static) provider are alphabetically sorted.
Let say we have the following images:
[code]
and the rule:
[code]
The result will be:
[code]
If you are lucky at the end will be included `docker:10.0.0` (it depends on `max_tags`).
It is because the images are sorted by tag in alphabetical order. I thing, better will be to process image list by creating date.

The problem you

[2020-02-28 11:02] crazy-max commented on #40
Hi @logopk,

Yes that's possible.

I'm not aware of a discovery service on registries to retrieve this kind of info so I think we should rely on a static dictionary to handle this.

[2020-02-28 15:30] crazy-max commented on #43
Hi @vl-bwalocha,

Actually tags are sorted as they arrive through the registry API. The underlying endpoint for Docker Hub to fetch tags for a repository is `https://index.docker.io/v2/crazymax/cloudflared/tags/list`. With this example the result is:

[code]

Then the [order is reversed in Diun](https://github.com/crazy-max/diun/blob/bac975009afbc4aa802913ecc0c314957fa0a1d6/pkg/registry/tags.go#L5

[2020-02-28 18:14] vl-bwalocha commented on #43
Thanks for the response and the API link.
I've checked the API v2 documentation and indeed the response is ordered lexically:
[listing-image-tags](https://docs.docker.com/registry/spec/api/#listing-image-tags)
There is no documented way to specify the sort order.
They only support limiting the result tag list (pagination).

I agree, analyzing all tag would be very bad idea.
We should call for all

[2020-02-28 18:14] #43 closed

[2020-03-23 12:13] margaale opened #48 "Question"
I'm running diun with swarm provider. My cluster has 2 nodes, one master and 1 slave. In the diun logs i see this line,

Cannot inspect image from service 477fke4kso3larq6bmk13ahgi error="Error: No such image: linuxserver/jackett:latest@sha256:3b858d36171d4c5346f777115173e7a6a7ebf2d5ef645ea5f226d2fd9b03fce1" provider=swarm-myswarm

Could you explain to me what does it mean?

[2020-03-23 12:14] margaale opened #49 "[Question]Error in logs"
I'm running diun with swarm provider. My cluster has 2 nodes, one master and 1 slave. In the diun logs i see this line,

Cannot inspect image from service 477fke4kso3larq6bmk13ahgi error="Error: No such image: linuxserver/jackett:latest@sha256:3b858d36171d4c5346f777115173e7a6a7ebf2d5ef645ea5f226d2fd9b03fce1" provider=swarm-myswarm

Could you explain to me what does it mean?

[2020-03-23 13:02] crazy-max commented on #49
@margaale Please create a proper [bug report](https://github.com/crazy-max/diun/issues/new?template=bug_report.md) and don't create multi issues for the same problem.

[2020-03-23 13:02] #49 closed

[2020-03-23 13:02] #48 closed

[2020-03-23 22:42] margaale commented on #49
I was just asking the meaning of the log. I wasn't saying it was a bug. Sorry for the duplicate, I don't know how it happen...

[2020-03-23 22:45] crazy-max commented on #49
@margaale Looks like image `linuxserver/jackett:latest@sha256:3b858d36171d4c5346f777115173e7a6a7ebf2d5ef645ea5f226d2fd9b03fce1` does not exist.

[2020-03-24 00:28] margaale commented on #49
In docker hub? Or the pulled image?

On Mon, Mar 23, 2020, 19:46 CrazyMax <notifications@github.com> wrote:

[2020-03-24 10:37] crazy-max commented on #49
I think this is linked to your swarm stack. Please create a proper [bug report](https://github.com/crazy-max/diun/issues/new?template=bug_report.md) to help me investigate on this.

[2020-03-25 12:22] margaale opened #52 "ERR Cannot inspect image from service"
### Behaviour

Using a swarm with 2 nodes, one master and one slave both running on a raspberry. When te cron task is executed there is an error in the logs.

#### Steps to reproduce this issue

1. Install diun
2. Run it with default config

#### Expected behaviour

#### Actual behaviour

### Configuration

* Diun version :  2.5.0
* Platform (windows/linux) : linux arm
* System info (type `uname -

[2020-03-25 12:37] margaale commented on #52
As far as i can tell, the images that cannot be inspected are the ones that are downloaded and being run in the other node

[2020-03-25 13:45] crazy-max commented on #52
@margaale Thanks for your input, I will take a look on this.

[2020-03-25 22:22] crazy-max commented on #52
@margaale Yep it's a bug. It will be fixed soon. Thanks for your input.

[2020-03-26 02:18] crazy-max commented on #52
@margaale Should be ok now

[2020-03-26 02:18] #52 closed

[2020-03-26 02:26] margaale commented on #52
Now I'm seeing:
[code]

[2020-03-26 02:27] margaale commented on #52
Should I change the architecture ?

[2020-03-26 09:43] harry31415 opened #53 "Allow for custom script instead of notifications."
A nice feature would be to support running a bash script or a command instead of notifications.
[code]
This would make it really versatile and open up a lot of possibilities!
i.e. I would like to use diun for a custom CI/CD pipeline :
New docker images with tag release? -> run Ansible playbook

[2020-03-26 09:56] crazy-max commented on #52
Yes you should. Default values are currently `linux/amd64` but maybe we could detect the current platform if providers are docker or swarm.  I'll think about that.

[2020-03-26 11:10] margaale commented on #52
I think you should only in swarm mode, because you could have different architectures across the nodes. Just to note, I had never seen that error with version 2.5.0 and the config remains the same.

[2020-03-26 11:24] crazy-max commented on #52
@margaale Looks like a regression linked to containers/image#854

[2020-03-26 11:55] crazy-max commented on #52
@margaale Can you open a new bug report about that please?

[2020-03-26 12:04] margaale commented on #52
@crazy-max Sure. Just to clarify what do you mean with my stack config?

[2020-03-26 12:05] crazy-max commented on #52
@margaale

Thanks!

Your yml compose

[2020-03-26 12:08] margaale commented on #52
@crazy-max You mean the one that defines the stack that runs diun? I have several composes :-P

[2020-03-26 12:09] crazy-max commented on #52
@margaale grafana stack

[2020-03-26 12:10] margaale opened #54 "Error choosing image instance: no image found in manifest"
### Behaviour
After updating to 2.6.0 diun started to show this error in the logs. Running on a 2 node swarm on Raspberry ( 1 master, 1 slave)
### Configuration

* Diun version : 2.6.0
* Platform (windows/linux) :  linux arm
* System info (type `uname -a`) : Linux raspi02 4.19.97-v7l+ #1294 SMP Thu Jan 30 13:21:14 GMT 2020 armv7l GNU/Linux

[code]

### Logs

<details>
  <summary>Logs</summary>

[c

[2020-03-26 12:12] margaale commented on #54
Grafana stack (limited to the only service that configures diun in any way):
[code]

[2020-03-26 12:15] crazy-max commented on #54
@margaale Ok thanks. Like I said in #52, this looks like a regression linked to containers/image#854. In the meantime I will downgrade this dep and create a new release.

[2020-03-26 12:18] margaale commented on #54
Seems like i'm going to learn go in the short time. I really like you project and i'm also a developer maybe i can send a PR

[2020-03-26 12:20] crazy-max commented on #54
@margaale Sure!

[2020-03-26 12:31] crazy-max commented on #54
@margaale Can you check the latest release?

[2020-03-26 12:46] crazy-max commented on #54
@margaale Getting back to this bug, it looks like the image manifest of `grafana/grafana:6.7.1` does not include any `variant` field for `platform`:

[code]

Any hint @mtrmac to handle `platform.variant` correctly since containers/image 5.3.0?

[2020-03-26 12:49] margaale commented on #54
No errors, seems to be wo
[code]

[2020-03-26 12:49] margaale commented on #54
The rest
[code]

[2020-03-26 12:57] crazy-max commented on #54
@margaale I have updated your posts to add markdown expanding section ;)

[2020-03-26 14:01] mtrmac commented on #54
Can you verify that https://github.com/containers/image/pull/865 fixes this, please?

[2020-03-26 18:40] margaale commented on #54
@crazy-max I've been looking around your code and i found out that you always set the architecture and os to the defined in options

[code]

That should be replaced with the task os and architecture, do you know where to find the architechure? because i was able to find the os in the task inspection...

[2020-03-26 18:42] crazy-max commented on #54
@margaale Yes I currently working on it. I will push my branch in few hours ;)

[2020-03-26 18:43] margaale commented on #54
I was looking forward to make a PR, i guess i'll have to wait...

[2020-03-26 18:47] crazy-max commented on #54
@margaale I'm making some pretty profound changes to the management of images with manifest-lists. I will also remove the default values for the OS and the architecture and leave the choice to the user. This was done to overcome problems with the static provider. For example if a user performs the scan on windows and tries to fetch the manifest of an image that is only available for linux/amd64, t

[2020-03-26 18:52] margaale commented on #54
@crazy-max Thanks for your dedication!!! Just to know, the swarm and docker modes were recently added? i ask because this issues we ran into...

[2020-03-27 10:25] crazy-max opened #57 "Refactor platform detection and handle platform variant"
Ref. #54

[2020-03-27 10:25] crazy-max commented on #54
I'm closing this issue in favor of #57

[2020-03-27 10:25] #54 closed

[2020-03-31 18:25] crazy-max commented on #53
@crazy-max It's in my backlog. Thanks for your input!

[2020-03-31 18:26] crazy-max commented on #53
@harry31415 It's in my backlog. Thanks for your input!

[2020-03-31 22:09] #57 closed

[2020-04-02 13:28] alexanderadam opened #60 "Feature: it would be nice to receive notifications on XMPP"
Thank you for your phantastic projects. :pray:

I just thought that it would be nice to receive notifications via XMPP, too.

**PS:** I'm not a Go developer but I wouldn't recommend [`go-xmpp` from @**FluuxIO**](https://github.com/FluuxIO/go-xmpp) though, because [it doesn't support modern authentication (yet)](https://github.com/FluuxIO/go-xmpp/issues/106). And in case you are stumbling about it:

[2020-04-18 19:00] Azertooth opened #64 "Allow for custom notification message"
as title: other than the ability to edit in custom text it would be even nicer to be able to add hypertext and markdowns too

[2020-05-07 09:19] Jonn3y commented on #10
Any updates on this?

[2020-05-07 09:31] crazy-max commented on #10
@Jonn3y A lot of other projects in progress but I will soon unravel all these issues and prepare the arrival of v3 ;)

[2020-05-27 21:40] crazy-max commented on #16
@adhawkins It's now available through [`file` provider](https://github.com/crazy-max/diun/blob/master/doc/providers/file.md#file-provider)

[2020-05-27 21:40] #16 closed

[2020-05-27 21:41] crazy-max commented on #53
Notification through [script](https://github.com/crazy-max/diun/blob/master/doc/notifications.md#script) is now available.

[2020-05-27 21:41] #53 closed

[2020-05-27 21:42] crazy-max commented on #23
@Fizcko Flag `--test-notif` is now available.

[2020-05-27 21:42] #23 closed

[2020-05-28 05:14] Fizcko commented on #23
Thanks !

[2020-05-29 01:57] wkelton opened #78 "Consider Supporting Healthchecks"
See [Healthchecks.io](https://healthchecks.io).

This would prevent silent failures (for example, the host goes down).

This could perhaps be configured with a sub-dict under `watch`:
[code]

[2020-05-29 02:25] crazy-max commented on #78
@wkelton Great idea!

[2020-05-29 23:45] ilevac opened #81 "Upgrade to 3.0.0 failed"
When I upgraded to 3.0.0, the service failed to start:
[code]
Same config with >3.0.0 work well.
[code]

[2020-05-29 23:54] crazy-max commented on #81
@ilevac Please read the [Upgrade notes](https://github.com/crazy-max/diun/blob/master/UPGRADE.md#2x--3x) as stipulated in the [release notes](https://github.com/crazy-max/diun/releases/tag/v3.0.0). Thanks!

[2020-05-29 23:54] #81 closed

[2020-05-29 23:56] ilevac commented on #81
You should put a mention in the readme file.
I've look in the readme for this info.

Thanks,
ilevac

[2020-05-31 14:59] sgiannulli opened #83 "Help required: install with docker"
Hello,
not clear to me how to use diun with docker, step by step; up to now I'm always stopped at diun.yml mount point considered a directory not a file.
thank you

[2020-05-31 16:09] crazy-max commented on #83
Hi @sgiannulli, you have to create the `diun.yml` before running `docker-compose up -d`, otherwise a folder named `diun.yml` will be created instead.

[2020-05-31 16:55] sgiannulli commented on #83
Hi,
ok, first step done but now:
`Sun, 31 May 2020 18:52:32 CEST INF Starting Diun 3.0.0

Sun, 31 May 2020 18:52:32 CEST INF Cron triggered

Sun, 31 May 2020 18:52:32 CEST ERR Cannot create Docker client error="Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?" provider=docker

Sun, 31 May 2020 18:52:32 CEST WRN No image found

Sun, 31 May 2020 18:52

[2020-05-31 17:08] crazy-max commented on #83
@sgiannulli You have to mount `/var/run/docker.sock:/var/run/docker.sock`

[2020-05-31 17:36] sgiannulli commented on #83
yes, right.
`Sun, 31 May 2020 19:23:27 CEST WRN No image found`
I can only think that if Diun is not running inside the same docker-compose of another container it cannot monitor it, right?

[2020-05-31 17:40] crazy-max commented on #83
@sgiannulli

If [`watch_by_default`](https://github.com/crazy-max/diun/blob/master/doc/providers/docker.md#provider-configuration) is disabled, therefore Diun will not scan containers not [labellized](https://github.com/crazy-max/diun/blob/master/doc/providers/docker.md#docker-labels).

No Diun scans all containers of the stipulated Docker endpoint (`/var/run/docker/sock` in your case).

[2020-05-31 17:55] sgiannulli commented on #83
now the puzzle is clear, thank you very much indeed.
The only problem still here is the gmail account not sending emails, but this is a problem with many app even when you use insecure app password, not diun related.

[2020-05-31 18:25] crazy-max commented on #83
@sgiannulli

Something like that should work:

[code]

[2020-05-31 18:25] #83 closed

[2020-06-02 18:45] sgiannulli opened #86 "How does diun check for image update?"
Hello,
sorry for maybe a stupid question but I'm wondering if everything works as expected; example:
I have a letsencrypt container, this is the latest image on docker hub: https://hub.docker.com/layers/linuxserver/letsencrypt/latest/images/sha256-84a8b62f135a4a810ab15286b1a30b1ec6cc8bd92c32edd0a0f1e325231be117?context=explore that has been cretaed yesterday `Digest:sha256:84a8b62f135a4a810ab15286

[2020-06-02 18:52] crazy-max commented on #86
Hi @sgiannulli, can't help you without logs, configuration, etc..

[2020-06-02 18:59] sgiannulli commented on #86
Hi,
I have attached my last log lines and diun.yml
Thank you
[diun log.txt](https://github.com/crazy-max/diun/files/4719085/diun.log.txt)
[diun.txt](https://github.com/crazy-max/diun/files/4719095/diun.txt)

[2020-06-02 19:18] crazy-max commented on #86
@sgiannulli As stipulated by your configuration, you have enabled the Docker provider and watch image for all containers. No changes have been found for `linuxserver/letsencrypt:latest` because the manifest matches the one in Diun database. Your schedule is every hour (`0 * * * *`) so a change should have occurred between `6/1/2020 at 7:15 pm` (latest tag update on DockerHub) and `Tue, 02 Jun 2020

[2020-06-02 21:08] logopk opened #87 "Reasoning for only one docker provider"
Could you please explain why I can only query one docker host with 3.0.0?

I used to query different hosts with different apps/images...

Thank You.

[2020-06-02 21:34] sgiannulli commented on #86
well, I restarted everything from scratch (database cancelled, container and image too) just changing `first_check_notif: true` instead of false to avoid misunderstanding about the first nine emails but nothing changed; so maybe the problem is that I do not understand how the database is populated. Consider that the linuserver/letsencrypt image has been update twice in the last couple of hours. I

[2020-06-02 21:38] crazy-max commented on #86
@sgiannulli Thanks for your feedback can you post your diun and letsencrypt compose files here please?

[2020-06-02 21:52] sgiannulli commented on #86
`version: '2'
services:
  diun:
    container_name: diun
    image: crazymax/diun
    environment:
      - PUID=1000
      - PGID=100
      - TZ=Europe/Rome
      - LOG_LEVEL=debug
      - LOG_JSON=false
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /srv/dev-disk-by-label-orangepi2/config/diun/data:/data
      - /srv/dev-disk-by-label-orangepi2/config/diun/diun.yml:/diun.y

[2020-06-02 21:55] crazy-max commented on #87
@logopk This is an underlying problem with the Docker API when stacking multiple clients. As an alternative you can create a Diun stack for each Docker environment or wait for #82 which will allow you to use the environment variables to mutualize this more easily.
Btw, how many Docker environments have you set up?

[2020-06-02 22:02] sgiannulli commented on #86
leave it, my stupid fault: while I corrected the PUID & PGID in my repo with 1000 value for both in portainer stack they were still 1000 and 100 as the hard drive samba owner. Now everything works, I just received an email telling the letsencrypt image has been updated on docker hub.
Sorry and thanks again for your prompt support.

[2020-06-02 22:06] crazy-max commented on #86
@sgiannulli You're welcome, glad you solved your issue.

[2020-06-02 22:06] #86 closed

[2020-06-03 11:36] logopk commented on #87
Understood, but why did it work in Version 2.x? I'm sticking with that. I may need some time to setup a multi stack environment.

[2020-06-03 11:59] logopk opened #88 "Image from private registry - a"
Maybe only a config problem:

my docker provider returns an image from my private registry. (first time I have used my registry ;-) )

[code]

I see that one can add regopts to static images, but how can I handle registry-entries in providers.

I have tied to mount my .docker/config.json to diun container as the debug-output DockerAuthConfig points to, but that will not work.

[code]

Any suggesti

[2020-06-03 12:25] crazy-max commented on #88
@logopk What your `diun.yml` looks like?

[2020-06-03 12:47] logopk commented on #88
[code]

[2020-06-03 12:51] crazy-max commented on #88
@logopk

So it works?

[2020-06-03 12:58] crazy-max commented on #88
I think I get it. If you want to set `regopts_id` for a Docker container, you have to use labels:

[code]

[code]

[2020-06-03 13:06] crazy-max commented on #87
@logopk This issue occurs since Docker client v19.03.10. Diun 2.6.1 uses v19.03.8. So I preferred to remove this on version 3.0.0 and leave the choice to the user to create several Diun stacks.

[2020-06-03 14:39] logopk commented on #88
Hey that works! Thank you.
Nevertheless that should be documented here. Or is it already?

[2020-06-03 14:39] #88 closed

[2020-06-03 14:41] crazy-max commented on #88
@logopk This is already documented here: https://github.com/crazy-max/diun/blob/master/doc/providers/docker.md

[2020-06-03 14:45] logopk commented on #88
. I see. Thank you! I promise to RTFM.

[2020-06-05 13:23] kkazakov opened #89 "Configuration keeps changing"
I'm using docker instance to monitor, and (several times already) diun stops working after updating it. Unfortunately the configuration changed yet again.

Is there a plan to finalize it? at least in a way that this will not break it? Like versioning or something? And then supporting different versions.

It's really annoying that way ...

[2020-06-05 14:04] crazy-max commented on #89
@kkazakov Please create a proper [bug report](https://github.com/crazy-max/diun/issues/new?template=bug_report.md).

[2020-06-05 14:04] #89 closed

[2020-06-06 17:21] tborychowski opened #90 "WRN "No image found""
### Behaviour

#### Steps to reproduce this issue

1. Started with `docker-compose up -d`
2. run `docker-compose logs`
3. See the following error
[code]

#### Expected behaviour
I don't know :-)
Is the warning acceptable? What does it mean?

#### Actual behaviour
I see the warning, and am concerned :-)

### Configuration

* Diun version : 3.0.0
* Platform (windows/linux) : linux
* System info (typ

[2020-06-06 17:33] crazy-max commented on #90
@tborychowski, looking at your configuration, your `docker` provider doesn't [`watch_by_default`](https://github.com/crazy-max/diun/blob/master/doc/providers/docker.md#provider-configuration)  containers (default `false`) so if you have not explicitly setted [docker labels](https://github.com/crazy-max/diun/blob/master/doc/providers/docker.md#docker-labels) for your containers, they will not be sc

[2020-06-06 19:55] tborychowski commented on #90
That was it :-)
I think it's working now, as the log shows much more stuff and that:
[code]
Thanks very much for your help and for this app :-)

[2020-06-06 19:55] #90 closed

[2020-06-15 08:35] djpbessems opened #94 "Cannot run job error="Error choosing image instance: no image found in manifest list [...]"
### Behaviour
Iḿ seeing the following sequence of 7 errors in my log whenever I try to use `watch_repo=true` for image `traefik`:
[code]
This happens as soon as I add the following options to my file-provider's config:
[code]
I've read the other previous issues that seem to deal with this error and have tried the config with/without the following options, but this does not seem to have any effect.

[2020-06-15 10:29] crazy-max commented on #94
Hi @djpbessems,

[code]

These errors occur because some tags do not support the target architecture (`linux/amd64`):

[code]

I'll add the name of the image and the tag in the error message to make it more explicit or maybe we should ignore non-compatible tags?

Anyway you should change your rule with something like this to skip windows tags and handle semver releases of Traefik:

[code]

Or Alpi

[2020-06-15 14:12] djpbessems commented on #94
Yeah, in this case the regex for `include_tags` can be used to filter the images; I'll try your suggestions.

But I can imagine that's not always going to be the case, and in that case I wouldn't dare call it a user-error, so the error message is probably best just hidden (or changed to a WRN?).

[2020-06-17 09:57] crazy-max commented on #25
@mzac Kubernetes provider is available through release `4.0.0-beta.3` if you want to try out. Documentation is available [here](https://github.com/crazy-max/diun/blob/v4/doc/providers/kubernetes.md#about).

[2020-06-17 09:59] crazy-max commented on #40
@logopk Links to hubs are available through release 4.0.0-beta.3 if you want to try out.

[2020-06-17 10:16] mzac commented on #25
Wow!!! This looks great!  Looking forward to giving it a try!

[2020-06-17 11:53] logopk commented on #40
Hi,
would like to but the change in config is a bit of a problem.
I just transitioned to version 3 with multiple instances for my different docker hosts.
But 4 refuses to come up:
[code]
Do you have a default config to start with? docker-compose preferrably?
Thanks

[2020-06-17 12:29] logopk commented on #40
OK, I transitioned to ENV-VARS and now it works. Let me wait for the first notification.

[2020-06-17 12:41] crazy-max commented on #40
@logopk

Yes env vars is the way-to-go if you use a provider like docker, swarm ou k8s ;)

:+1:

[2020-06-18 15:57] mzac commented on #25
Hmm.. I got it up and running but I'm getting errors.  Something isn't working right

[code]

[2020-06-18 16:34] crazy-max commented on #25
@mzac Looking at your rbac, the service account `system:serviceaccount:diun:diun` is not allowed to list pods in **all** namespaces (default). Try to set `DIUN_PROVIDERS_KUBERNETES_NAMESPACES=diun` env var.

[2020-06-18 17:43] mzac commented on #25
Ok I added it and redployed but still getting an error

[code]

[code]

[2020-06-18 17:57] mzac commented on #25
Ah found it!

This is what I had:
[code]

changed it to:
[code]
^^^ the namespace in the subject.

[code]

[2020-06-18 18:00] crazy-max commented on #25
@mzac Good catch!

[2020-06-18 18:01] mzac commented on #25
Thx, now I just need to figure out how to make it watch the rest of my containers (all in different name spaces) and send me notifications!

[2020-06-18 18:02] crazy-max commented on #25
@mzac Yeah I think you have to create a "wide" serviceAccount in your cluster to allow that.

[2020-06-18 18:07] crazy-max commented on #25
@mzac This should work:

[code]

See also https://stackoverflow.com/a/55594676/514571

[2020-06-18 18:30] mzac commented on #25
Ok I see now.  However my setup has all my different deployments in different namespaces which means I would have to use DIUN_PROVIDERS_KUBERNETES_NAMESPACES and specify all the namespaces to watch?  Can a wildcard be used to tell it to watch all namespaces?

[2020-06-18 18:40] crazy-max commented on #25
@mzac All namespaces [are watched by default](https://github.com/crazy-max/diun/blob/0c935c765168413cadafef9f9c427aca8e8601ce/pkg/k8s/client.go#L51-L53).

[2020-06-18 18:49] mzac commented on #25
Ok yes I see that now.. Got it working.  I'm guessing the errors below are for my private gitlab registry, can I add the credentials?

I would have to configure these environment variables?
https://github.com/crazy-max/diun/blob/v4/doc/configuration.md#regopts

[code]

[2020-06-18 18:59] crazy-max commented on #25
@mzac Yes that's it but you have to reference the `regopts_id` as an annotation for the pods using this registry. I will come up with a new feature soon to reference a default regopts based on the registry domain.

[2020-06-18 19:26] logopk commented on #40
Apparently smth. missing:

<img width="910" alt="image" src="https://user-images.githubusercontent.com/14347357/85063345-4c3f6080-b1aa-11ea-8bc5-ecea36c7f381.png">

[2020-06-18 19:30] crazy-max commented on #40
@logopk I don't think so, the link is here:

![image](https://user-images.githubusercontent.com/1951866/85063729-18f4d580-b19a-11ea-95e4-1e5e2c09135a.png)

What did you expect?

[2020-06-18 19:38] logopk commented on #40
🤦🏼‍♂️ Perfect! That's what I was hoping for! Thanks.

I got confused from this:
![](https://github.com/crazy-max/diun/raw/v4.0.0-beta.3/.res/notif-slack.png)
It's an extra Link on the bottom...

[2020-06-18 19:49] crazy-max commented on #40
@logopk Yeah indeed for Slack I cannot combine a link and code

[2020-06-18 19:54] logopk commented on #40
I see one issue - but this is due to the new one-provider solution - the notification mail has always the same provider-name: docker (or file).

![](https://github.com/crazy-max/diun/raw/v4.0.0-beta.3/.res/notif-slack.png)

It used to have the unique provider name.

[2020-06-18 20:20] crazy-max commented on #40
@logopk `docker` and `swarm` providers are unique so it will stay as it is. But concerning the `file` provider we can for example set the filename as the provider in the notification. What do you think?

[2020-06-18 20:26] logopk commented on #40
Hmm. I have separated my three remote docker providers into 3 containers. Now all send mails as "docker". Before they all had unique (host-)names.
Some images run on all hosts, some only on one of them. Maybe I will have to improve my memory...

[2020-06-18 20:28] crazy-max commented on #40
@logopk Ok thanks for the tips. I think i will prepend the hostname to the provider.

[2020-06-18 20:29] logopk commented on #40
That sounds like a good idea. Thanks.

[2020-06-18 20:42] cmartin616 opened #98 "Access denied to Docker.io"
### Behaviour

#### Steps to reproduce this issue

1. Docker container running diun.
2.  Was working until June 16th.

#### Expected behaviour

Diun should notify when a new image is found

#### Actual behaviour

Access denied to Docker.io endpoints:

Thu, 18 Jun 2020 16:12:05 EDT DBG app/internal/logging/logger.go:68 > [containers/image] Accessing "docker.io/library/sha256:445909f0eaa51a79a49b1c4

[2020-06-18 21:07] crazy-max commented on #98
Hi @cmartin616,

I would need the semver release, latest can be anything. The exact version is displayed at the beginning of the logs.

Ok it looks like one of the images you watch in your Docker instance is now private. Hard to find the name of the image with the manifest hash. Can you list here the images used by your containers please? You can use the following command to print them `docker con

[2020-06-18 23:21] cmartin616 commented on #98
Thanks for the quick reply.  Here is the information you requested but a solution at the end.

Very first line of the log:
Thu, 18 Jun 2020 16:12:02 EDT INF app/cmd/main.go:49 > Starting Diun 3.0.0

Results of container list (name added if image name is not clear):
crazymax/diun:latest
linuxserver/sonarr:5.14
linuxserver/ombi:latest
linuxserver/ddclient
sgtsquiggs/deluge-openvpn
homeassistant/home

[2020-06-19 00:28] crazy-max commented on #98
@cmartin616

I see `445909f0eaa5 (bazarr)` and `d918c177169e (jackett)` were the culprits here. Can you show me your compose or run command for those ones?

I think we could improve the process here and continue on error. Will check this out.

Do you use any kind of software to update your image's container?

Sounds good to me.

[2020-06-19 01:28] cmartin616 commented on #98
I run all my docker create commands as *.sh because I can't figure out the correct way to use Docker compose and get control of the shell back when I'm done.  I'm often destroying, updating and creating multiple containers in series so its a pain to terminate the SSH session each time.  I also probably have an issue with tags as I don't understand them well.  My goal is to keep the container updat

[2020-06-19 07:50] crazy-max commented on #98
@cmartin616

Ok now I know why you have this kind of issue. You should use `docker run` if you want to run a container. `create` should not be used in your case because it creates a writeable container layer over the specified image. That's why it resolves with a hash. I will handle this case in Diun.

[2020-06-19 17:28] mzac commented on #25
Notifications via Telegram are working, still having some issues with smtp but I think I have some issues with my postfix container.

![image](https://user-images.githubusercontent.com/10270879/85163387-bc90c500-b230-11ea-98d3-e887a49e131a.png)

[2020-06-19 17:47] crazy-max commented on #25
@mzac

Maybe you can take a look at my [mstmpd image](https://github.com/crazy-max/docker-msmtpd) ;)

[2020-06-19 18:31] mzac commented on #25
Looks interesting but I need to relay through gmail.  I'm currently using https://github.com/panubo/docker-postfix however my issues seem to be related to TLS.  From your docs on msmtpd I don't see how I can relay through gmail?  The auth settings seem to be for the local auth?

[2020-06-19 18:37] crazy-max commented on #25
@mzac

No it's a mstmp **daemon**. It acts as a relay like Postfix but less cumbersome and lightweight. Check [this example](https://github.com/crazy-max/docker-msmtpd/blob/master/examples/compose/docker-compose.yml) to use it with gmail.

[2020-06-19 19:27] crazy-max opened #99 "Docs website with mkdocs"
Add docs website with [mkdocs material theme](https://squidfunk.github.io/mkdocs-material/).

* Auto TOC
* Search
* Material design

Here is a quick preview:

![image](https://user-images.githubusercontent.com/1951866/85173462-cf23f200-b262-11ea-93fc-d7dcf1aed1fa.png)

![image](https://user-images.githubusercontent.com/1951866/85173488-de0aa480-b262-11ea-846f-def90401a39e.png)

[2020-06-19 19:48] mzac commented on #25
Awesome thanks I got it working :)

[2020-06-19 22:48] #87 closed

[2020-06-21 15:56] crazy-max opened #101 "Revamp regopts"
Ref. https://github.com/crazy-max/diun/issues/25#issuecomment-646248284

`regopts` registry options should be revised to allow the addition of selectors:

* `name`: Standard selector based on its name (default and actual behavior)
* `domain`: Registry domain of the given image (e.g. `docker.io` for DockerHub)
* `path`: Starts with the given path (e.g. `docker.io/crazymax`). Useful for orgs.

[2020-06-21 19:42] crazy-max opened #102 "Prepend hostname to provider"
Ref. https://github.com/crazy-max/diun/issues/40#issuecomment-646289316

[2020-06-22 16:24] crazy-max commented on #25
@mzac

4.0.0-beta.4 can now automatically determine registry options based on image name. More info: https://github.com/crazy-max/diun/blob/v4/docs/config/regopts.md

[2020-06-22 16:29] crazy-max commented on #98
@cmartin616

Dangling images are now skipped on 4.0.0-beta.4

[2020-06-22 16:30] crazy-max commented on #94
@djpbessems Logging is now more explicit if manifest is not found (4.0.0-beta.4)

[2020-06-22 20:47] crazy-max commented on #25
Available: https://crazy-max.github.io/diun/changelog/#400-20200622

[2020-06-22 20:47] #25 closed

[2020-06-22 20:48] crazy-max commented on #40
4.0.0 has been released. See https://crazy-max.github.io/diun/changelog/#400-20200622.

[2020-06-22 20:48] #40 closed

[2020-06-22 20:48] crazy-max commented on #94
Available through 4.0.0 release. See https://crazy-max.github.io/diun/changelog/#400-20200622.

[2020-06-22 20:48] #94 closed

[2020-06-22 20:48] crazy-max commented on #98
Available through 4.0.0 release. See https://crazy-max.github.io/diun/changelog/#400-20200622.

[2020-06-22 20:48] #98 closed

[2020-06-22 20:49] crazy-max commented on #99
Available through 4.0.0 release. See https://crazy-max.github.io/diun/changelog/#400-20200622.

[2020-06-22 20:49] #99 closed

[2020-06-22 20:49] #101 closed

[2020-06-22 20:49] #102 closed

[2020-06-22 21:45] TheSpad opened #107 "DIUN_PROVIDERS_DOCKER causing config issues - v4"
### Behaviour

#### Steps to reproduce this issue

1. Pull diun 4.0
2. *Do not* have `DIUN_PROVIDERS_DOCKER=true` set on Diun container
3. docker-compose up -d
4. Container fails to start correctly

#### Expected behaviour

Container should parse the config as valid.

#### Actual behaviour

Without `DIUN_PROVIDERS_DOCKER=true` container is unable to parse config and fails to start. With `DIUN_PROV

[2020-06-22 22:51] crazy-max commented on #107
@TheSpad,

Yes that's because at least one provider is required.

If you only want to use the Docker provider with default options in your config file you have to create an empty struct:

[code]

More info in the [FAQ](https://crazy-max.github.io/diun/faq/#field-dockerswarm-uses-unsupported-type-invalid).

[2020-06-22 23:34] #107 closed

[2020-06-22 23:54] crazy-max commented on #107
@TheSpad I have updated the [Migration notes](https://crazy-max.github.io/diun/migration/v3-to-v4/#diunyml-not-loaded-by-default-in-docker-image) about this. Thanks for your feedback.

[2020-06-23 01:21] cmartin616 commented on #98
Thank you so much!

[2020-06-23 07:03] djpbessems opened #108 "Feature request: Kubernetes support"
I've been using Diun for a while now, running in my K3s cluster, with a configMap serving as both configuration (diun.yml) and file-provider (images.yml), and it's working just fine.

I would love to see integration with Kubernetes though, to allow it to only send alerts if any running deployment is not already at any respective newly discovered image version.

[2020-06-23 07:28] crazy-max commented on #108
@djpbessems [Kubernetes provider](https://crazy-max.github.io/diun/providers/kubernetes/) is already available. (#25)

[2020-06-23 07:28] #108 closed

[2020-06-23 07:39] TheSpad commented on #107
Ah, that explains it. Didn't realise it wouldn't parse the config file automatically any more. Thanks.

[2020-06-23 07:51] huelsner opened #109 "Re-send notifications after x days"
Hi,
I am sorry if I have overlooked the config option, but is it possible to automatically re-send a notification about a changed image if the watched image has not been updated in x days?

Cheers,
--HU

[2020-06-24 08:33] logopk commented on #40
@crazy-max: this works perfectly with #102
Thanks again.

[2020-06-25 02:42] jbpratt78 opened #110 "Feature: Discord support"
Neat project! Notifications via Discord would be great.

https://github.com/bwmarrin/discordgo
https://github.com/andersfylling/disgord

or simply through a [webhook](https://support.discord.com/hc/en-us/articles/228383668-Intro-to-Webhooks) as other providers are implemented

[2020-06-25 19:11] crazy-max commented on #110
Hi @jbpratt78,

I think @j0nnymoe made it work on Discord with the [Webhook notifier](https://crazy-max.github.io/diun/notif/webhook/).

[2020-06-25 19:23] jbpratt78 commented on #110
Feel free to close this :+1:

[2020-06-25 19:39] crazy-max commented on #110
@jbpratt78 If you have a recipe for Discord, feel free to share it

[2020-06-26 16:06] #110 closed

[2020-06-28 08:44] sebthom opened #114 "Feature: Report all remote tags of image update"
Currently the update notification only contains the  digest of the updated image. It would be very helpful to also get all remote tags for that image.

For example if I am running a docker container based on a ":latest" image it is important to know if an update discovered by diun is a bug fix or a major release. In the first case I would simply pull and redeploy, in the second case I would check

[2020-06-30 15:24] Chris92ch opened #118 "WRN No notifier available"
Hello  ! I'm currently trying diun but I have some strange logs when I'm trying to send a test notification to my slack webhook

`Tue, 30 Jun 2020 17:04:38 CEST WRN No notifier available`

#### Notify configuration
I only want to write to a slack channel via a webhook. Here's my config :

[code]
And here's my docker compose file :

[code]

Seems that this configuration isn't enough to be able to s

[2020-06-30 15:34] crazy-max commented on #118
Hi @Chris92ch,

Looking at your config it looks like you're migrating from Diun v2 because your config file is malformed. [`enable` field does not exist since Diun v3](https://crazy-max.github.io/diun/migration/v2-to-v3/#remove-enable-setting-for-notifiers).

If you want to include your Diun config in your compose service you have to set the [env var `CONFIG`](https://crazy-max.github.io/diun/get-

[2020-06-30 16:11] Chris92ch commented on #118
Hello @crazy-max

Thanks for your answer. You're right, the config seems now ok (my logs look better and now find images). Sadly, I still cannot launch a docker exec to test the notifications

` docker exec -it IdOfMyDocker  diun --test-notif `

The only output I got when I try this is

`Tue, 30 Jun 2020 17:56:23 CEST FTL Cannot initialize Diun error=timeout`

I got no message regarding this notif

[2020-06-30 16:48] crazy-max commented on #118
@Chris92ch

That's because an instance of Diun is already running.

If you want to test notifications you can use `docker run`:

[code]

[2020-06-30 17:35] #118 closed

[2020-07-11 10:31] crazy-max commented on #114
Hi @sebthom,

Basically you want to know all tags matching the digest of a specific tag?

[2020-07-11 10:42] crazy-max commented on #109
Hi @huelsner

This is not currently implemented but that could be a good feature.

[2020-07-12 18:41] PopeRigby opened #123 "error="unable to decode into struct, yaml: unmarshal errors:\n line 12: field watchByDefault not found in type model.PrdDocker""
### Behaviour

#### Steps to reproduce this issue

Set the `watchByDefault` field to `true` in `diun.yml`

#### Expected behaviour

Diun should be fine with that value.

#### Actual behaviour

Diun says:

[code]

### Configuration

* Diun version : 4.1.1
* Platform (windows/linux) : Linux
* System info (type `uname -a`) : Linux haddock.cc 4.19.0-9-amd64 #1 SMP Debian 4.19.118-2+deb10u1 (2020-06-07

[2020-07-12 18:54] crazy-max commented on #123
@PopeRigby

Looks like you're on Diun **3.0.0**, not the latest release.

[2020-07-12 19:35] PopeRigby commented on #123
Sorry, that was pretty obvious. So what does all this mean?

[code]

[2020-07-12 19:39] crazy-max commented on #123
@PopeRigby

You have to define the configuration file in your composition. See https://github.com/crazy-max/diun/issues/107#issuecomment-647807912

[2020-07-12 19:39] #123 closed

[2020-07-13 00:36] PopeRigby opened #124 "Matrix notification"
I'm trying to get Diun to send a message to a Matrix room using webhooks. This is what Matrix is expecting:

[code]

Is it possible for me to make it so Diun's JSON will be formatted so it fits into the text section?

[2020-07-14 17:47] sebthom commented on #114
What I would like to have, is a diff between the tags of the current digest and the new digest.

E.g.:
current digest has tags "latest", "v1", "v1.1", "v1.1.4"
new digest has tags "latest", "v1", "v1.2", "v1.2.0"

Then I would like to see something like this in the email notification:

Tags: "latest", "1", "1.1", ~"1.1.4",~ **"1.1.5"**

Now I can see that it installing this image means a minor upd

[2020-07-16 22:03] crazy-max commented on #124
@PopeRigby I'll need more information so we can integrate the notifications for Matrix:

* Link to API documentation
* Auth method and endpoint to call

[2020-07-16 23:52] PopeRigby commented on #124
This is the documentation for the Matrix spec: https://matrix.org/docs/spec/

I think you might need to use a bot to send the notifications. Here's a bot SDK written in Go, because you seem to be comfortable with that language: https://github.com/tulir/mautrix-go

Alternatively you could try and make Diun work with this existing webhook bot: https://github.com/turt2live/matrix-appservice-webhooks.

[2020-07-19 17:18] mwalbeck commented on #124
There is a simple endpoint for sending messages to a room, which is definitely the easiest way to do this. The relevant areas in the documentation, which @PopeRigby linked above, are:

* 5.1 - Using access token for auth, can be via request header or query string
* 9.6.2 - The endpoint to use
* 13.2.1.1 - The event type to use with the endpoint, m.room.message
* 13.2.1.7 - The different message ty

[2020-07-24 07:09] stauders opened #134 "Docker Provider : Remote Manifest error"
### Behaviour
https://crazy-max.github.io/diun/faq/#field-dockerswarm-uses-unsupported-type-invalid says this error should happen if I'm using the file provider, but I am using the docker provider. There is no solution for this provider offered in the FAQ

#### Expected behaviour

#### Actual behaviour

### Configuration

* Diun version : docker/latest
* Platform (windows/linux) :linux
* System in

[2020-07-29 18:40] sljdhl opened #137 "Cannot get remote Manifest installation Docker-compose"
### Behaviour
Problem with installation, cannot gget remote manifest. Test notification works.

### Configuration

* Diun version : 4.2.0
* Platform (windows/linux) : Linux
* System info (type `uname -a`) :  Linux mediaserver 5.0.0-38-generic #41-Ubuntu SMP Tue Dec 3 00:27:35 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

[code]

### Logs

[code]

[2020-07-29 19:22] crazy-max commented on #137
Hi @sljdhl,

Is it not working at all or for some images?

Looks like you have to authenticate against registry

Can you please post all logs with debug enabled and also the output of command `docker ps -a`. Thanks.

[2020-07-29 19:24] crazy-max commented on #134
Hi @stauders

I need more info to help you:

* Your compose/swarm/k8s yml
* Full logs with debug enabled

[2020-07-29 19:29] #124 closed

[2020-07-29 20:06] sljdhl commented on #137
I havnt got any notifications yet and I should be behind on a few containers atleast. What is registry and why/how do i authenticate against it? I read the .regopts instructions, did not understand it all but didnt  think I would need it as I dont know what usernames and passwords would be to whatever it is.

debug logs:
https://pastebin.com/H0BX8ibB

docker ps -a:
https://pastebin.com/3CnVE3L4

[2020-07-29 20:16] crazy-max commented on #124
@PopeRigby @mwalbeck https://crazy-max.github.io/diun/notif/matrix/

[2020-07-29 20:27] crazy-max commented on #137
@sljdhl

At the first execution of Diun, the notifications are not sent, you have to set [`firstCheckNotif: true`](https://crazy-max.github.io/diun/config/watch/#firstchecknotif) to receive notifications at the very first analysis of an image. Before doing that be sure to stop Diun container and remove the db in `/home/docker/diun/data/diun.db`.

Looking at your logs, I don't think this is an auth

[2020-07-29 23:23] PopeRigby commented on #124
That was fast. Thanks!

[2020-07-30 17:54] sljdhl commented on #137
ok ye it works now hehe. Got notifications for a few containers. I thought it reported if there was a newer image, but it only reports new releases right? Thanks for the help!

[2020-07-30 17:54] #137 closed

[2020-07-30 19:22] mwalbeck commented on #124
Tried with v4.3.1 and it works great. Thank you

[2020-07-30 22:06] crazy-max commented on #137
@sljdhl

It reports for new tags aswell if you use the [`diun.watchrepo` docker label](https://crazy-max.github.io/diun/providers/docker/#docker-labels). See this [quick start example](https://crazy-max.github.io/diun/providers/docker/#quick-start) with the cloudflared image.

[2020-07-31 13:36] Vorsku opened #138 "Command to list all the images from diun.db that are being checked"
Hi,

Firstly, thank you for the project - it's my most useful container! 👍

I was wondering if it was possible to implement the ability to list all the images that are present in diun.db - possibly by running a command on the running container like:

[code]

Alternatively, I tried copying the diun.db file out and opening it in a SQLite browser but it wanted a passphrase to unlock the database - is

[2020-07-31 13:40] crazy-max commented on #138
Hi @Vorsku,

This is not a SQLite database. Diun currently uses the embedded key/value database [bbolt](https://github.com/etcd-io/bbolt). You can use [boltBrowser](https://github.com/ShoshinNikita/boltBrowser) which is a GUI web-based explorer and editor or [this CLI browser](https://github.com/br0xen/boltbrowser).

[2020-07-31 13:44] Vorsku commented on #138
Doh! Thanks, I'll look at that!

It would still be cool to be able to run a command like ```diun --list``` to view all the images polled :)

[2020-07-31 13:46] crazy-max commented on #138
@Vorsku

Yep LGTM

[2020-08-04 17:25] PopeRigby opened #140 "Matrix notification failed error="failed to authenticate Matrix use"
## Behaviour

### Steps to reproduce this issue

1. Create a new Matrix account for Diun
2. Configure `diun.yml` to have that user post to a Matrix room

### Expected behaviour

Diun is able to post from the account without issue.

### Actual behaviour

Diun fails to post from the account, with an authentication error.

## Configuration

* Diun version : 4.3.1
* Platform (windows/linux) : Linux
*

[2020-08-04 20:08] crazy-max commented on #140
@PopeRigby I have created an account on https://chat.privacytools.io/ and it looks like this a limitation on their side (maybe they have to enable a missing feature?). This works well for me on https://app.element.io/ and an other private server.

[2020-08-04 22:57] PopeRigby commented on #140
Ok. I'll see if that works.

[2020-08-05 17:38] PopeRigby commented on #140
That works. Thanks!

[2020-08-05 17:38] #140 closed

[2020-08-07 23:54] PopeRigby opened #143 "Support using m.message instead of m.notice for Matrix notifications"
This just changes the way the notifications are handled in clients. `m.notice`, which it's set to currently, is better for a bot that sits in a room with more than one person and gives updates in the background. `m.message` is better suited to my situation, which is just me and the bot sitting in the room, and me wanting to get notified of every Docker update.

[2020-08-08 11:10] crazy-max commented on #143
@PopeRigby [`msgType` option](https://crazy-max.github.io/diun/notif/matrix/#configuration) has been added.

[2020-08-08 11:10] #143 closed

[2020-08-13 15:41] #134 closed

[2020-08-15 16:42] ludipq opened #149 "Email notifications not working"
Added configuration for SMTP as per the documentation. When running `diun --test-notif` this is the output:

Using the same SMTP settings on [SMTPer](https://www.smtper.net) works fine.

[2020-08-15 17:03] crazy-max commented on #149
@ludipq Please create a proper [bug report](https://github.com/crazy-max/diun/issues/new?template=bug_report.md). Thanks.

[2020-08-15 17:03] #149 closed

[2020-08-15 17:13] ludipq opened #150 "Email notifications not working"
## Behaviour
Added configuration for SMTP as per the documentation. When running diun --test-notif this is the output:

Using the same SMTP settings on [SMTPer](https://www.smtper.net) works fine.

### Steps to reproduce this issue

1. Add email config to diun.yaml
2.  Run `diun --test-notif` in console

### Expected behaviour

I guess a test email will be sent, or a message saying that it's worki

[2020-08-15 17:19] crazy-max commented on #150
@ludipq

Log of Diun's container

And also can you set `LOG_LEVEL=debug` and `LOG_CALLER=true` environment variables and give me the log output please? Thanks.

[2020-08-15 17:44] ludipq commented on #150
[code]

**Log Level = Debug**
[code]
**Log Caller = True**

[code]

[2020-08-19 01:13] crazy-max commented on #150
@ludipq You cannot use `diun  --test-notif` if Diun is already launched. Only one instance is allowed. See https://crazy-max.github.io/diun/faq/#test-notifications

[2020-08-19 01:13] #150 closed

[2020-08-19 14:47] ludipq commented on #150
`sudo docker run --rm -it -v "/volume1/docker/diun/etc/diun/diun.yaml:/diun.yaml" crazymax/diun:latest --config /diun.yaml --test-notif`

[2020-08-19 14:50] crazy-max commented on #150
@ludipq That's because you have not specified any provider. Try with:

[code]

[2020-08-19 14:54] crazy-max opened #157 "Enhanced test-notif"
Ref. #150

Allow to run `--test-notif` if Diun is already running and without any providers.

[2020-08-20 00:08] #157 closed

[2020-08-26 14:44] TheSpad opened #162 "Telegram notifications not working"
## Behaviour

### Steps to reproduce this issue

1. Configure diun to send telegram notifications
2. Wait for update check to find updated image

### Expected behaviour

Telegram notification should be sent on new image update available.

### Actual behaviour

Telegram notification is not send and error is logged. Last time I can be sure this was working was with version 4.3.0; last successfullly

[2020-08-27 00:43] crazy-max commented on #162
@TheSpad Looks like an issue [parsing the markdown message](https://github.com/crazy-max/diun/blob/master/internal/notif/telegram/telegram.go#L48). Can you give me the output of `hostname`?

[2020-08-27 07:13] TheSpad commented on #162
The hostname in this instance is "diun_docker1", though I have two other hosts (also with fixed hostnames) that are showing the same issue.

[2020-08-28 19:12] dynek opened #165 "HELO for Mail notifications"
## Behaviour

### Steps to reproduce this issue

1. Instantiate the docker container with docker provider and mail notifications
### Expected behaviour

Mail should be sent using docker's hostname as HELO or we should be able to specify it

### Actual behaviour

Remote SMTP refuses mail because the HELO value is "localhost":

## Configuration

* Diun version : 4.4.1
* Platform (windows/linux) : Li

[2020-08-28 19:14] crazy-max commented on #162
@TheSpad Ok `_` is the culprit here. I will make some changes to escape "incomplete" markdown syntax. Telegram servers are very strict about this.

[2020-08-28 19:37] crazy-max commented on #165
@dynek Will be done shortly. Thanks for your input.

[2020-08-28 19:39] dynek commented on #165
Good, thanks a lot! I was checking it and it doesn't seem more complicated than adding LocalName to gomail.Dialer.

Let me know if you prefer me to create a PR and I'll do it.

[2020-08-28 19:58] crazy-max commented on #165
@dynek I'm already on it and like you said yeah `LocalName` is enough ;)

[2020-08-28 20:22] crazy-max commented on #165
@dynek Can you try `crazymax/diun:edge` image and let me know if it works? See [doc](https://crazymax.dev/diun/notif/mail/) for the new setting.

[2020-08-28 20:57] dynek commented on #165
Oddly enough I do see the environment variable `DIUN_NOTIF_MAIL_LOCALNAME` in the container (docker exec) but I still see "could not send mail" and localhost

[2020-08-28 21:46] crazy-max commented on #165
@dynek Forgot the impl. Should be good now.

[2020-08-29 02:15] crazy-max commented on #162
@TheSpad Should be fixed (v4.5.0)

[2020-08-29 02:15] #162 closed

[2020-08-29 02:15] crazy-max commented on #165
@dynek Should be fixed (v4.5.0)

[2020-08-29 02:15] #165 closed

[2020-08-29 05:39] dynek commented on #165
Great it's working now 👍

[2020-08-29 16:54] TheSpad commented on #162
Have pulled the new version and will do some tests. Cheers.

[2020-08-31 11:37] dynek opened #168 "Too many requests to registry"
## Behaviour

### Steps to reproduce this issue

1. Define label diun.watch_repo to true on 12 images
2. Watch logs

### Expected behaviour

### Actual behaviour

## Configuration

* Diun version : 4.5.0
* Platform (windows/linux) : Li ux
* System info (type `uname -a`) : Linux pve 5.4.24-1-pve #1 SMP PVE 5.4.24-1 (Mon, 09 Mar 2020 12:59:46 +0100) x86_64 GNU/Linux

[2020-08-31 11:38] dynek commented on #168
I'm not quite sure how to use Diun, as I thought an initial docker hub _scan_ would be down to gather tags and then when a new one is created, then a notification is sent.

How can I watch the docker hub for new tags for 12 images without hitting "too many requests to registry"?

Thank you

[2020-09-02 17:46] logopk opened #170 "Error reading manifest latest in registry... : unauthorized: authentication required"
## Behaviour

We have had a similar issue like this a while ago #88 and we fixed it with the below config.
But apparently it's no longer working. I have downgraded all the way to 4.0.0 but without success.

### Steps to reproduce this issue

1. environment with private registry login
2. labels on container with private registry image
3. run diun

### Expected behaviour

request to registry is auth

[2020-09-04 20:46] crazy-max commented on #168
Hi @dynek,

You should first authenticate against DockerHub through the [`regopts` settings](https://crazymax.dev/diun/config/regopts/). If it's not enough, tweak the schedule with something like `0 */6 * * *` (every 6 hours).

I will add a section in the FAQ about that.

[2020-09-04 20:57] crazy-max commented on #170
@logopk

[Docker labels](https://crazymax.dev/diun/providers/docker/#docker-labels) have changed since v4. Should be `diun.regopt=myregistry"`.

Also, it looks like your configuration file `/file.yml` is not loaded. You can use that instead:

[code]

See [Configuration file](https://crazymax.dev/diun/config/#configuration-file) doc about config autoload.

[2020-09-05 08:15] logopk commented on #170
Thanks, @crazy-max, the changed label did the trick.

probably missed that migration step...

[2020-09-06 17:39] dynek commented on #168
Much better @crazy-max, thanks a bunch!

[2020-09-06 17:39] #168 closed

[2020-09-11 15:55] TomMir commented on #114
How should I do to monitor the tag of an container image? I don't undeerstand.

Thanks

[2020-09-14 08:50] TomMir commented on #114
Hi, can you show me your solution? Mabe I need to solve the same problem.

Thanks

[2020-09-16 07:55] TomMir opened #174 "Cannot load configuration error="Key: 'Config.RegOpts[2].Selector' Error:Field validation for 'Selector' failed on the 'oneof' tag""
## Behaviour

1. File diun.yml in /etc/diun:
db:
  path: diun.db

watch:
  workers: 20
  schedule: "0 */6 * * *"

regopts:
  - name: "myregistry"
    username: fii
    password: bor
    timeout: 5s
  - name: "docker.io/crazymax"
    selector: image
    username: fii
    password: bor
  - name: "docker.io"
    selector: "gitlab/gitlab-ce"

providers:
  file:
    filename: ./config.yml

2.file confi

[2020-09-16 08:07] crazy-max commented on #174
@TomMir Please format your issue correctly: https://guides.github.com/features/mastering-markdown/

[2020-09-29 23:53] #174 closed

[2020-10-05 15:37] rg9400 opened #188 "[Request] Discord Notifier - Customize Ping"
Right now, the discord notifier seems to ping `@here`, which is less than ideal because it either pings everyone in a channel, or you can suppress that so that it pings no one. There are ways to mitigate this issue such as creating a specific channel where only one user would get the `@here` ping, but that seems less than ideal.

Suggestion: Allow the input of a specific user's discord ID to overr

[2020-10-07 18:41] crazy-max commented on #188
@rg9400 LGTM I will make some improvements and keep you in touch.

[2020-10-07 21:08] crazy-max commented on #188
@rg9400 I've pushed some changes with a [`mention` setting](https://github.com/crazy-max/diun/blob/b57d49dae287daec05d3793646747f411921ce30/internal/config/fixtures/config.test.yml#L18) for the discord notifier. CAn you try the `crazymax/diun:edge` image and let me know?

[2020-10-07 21:45] rg9400 commented on #188
I noticed a few things

1. It seems to still ping `@here`, even if you set another ID. It just pings both
![image](https://user-images.githubusercontent.com/39887349/95391160-2f937980-08bc-11eb-9757-59acd1b0f87f.png)

2. The user pings in Discord follow the format `<@!id>`, so `@id` doesn't actually ping anyone.

3. Not sure if there's a way to not mention anyone at all. Does leaving it blank do t

[2020-10-07 21:47] crazy-max commented on #188
Can you pull the `edge` tag again?

[2020-10-07 22:55] rg9400 commented on #188
The `@here` is now gone, but the `@id` still doesn't trigger the ping because of the format Discord is expecting which is `<@!id>`...unless there's a specific format for the user ID within the settings?

I am waiting for an upstream image update to test if doing `mention: ` will prevent all pings.

[2020-10-07 23:14] crazy-max commented on #188
@rg9400

Yes you're right I will add a new impl for that.

If you remove `mention: ` property no one should be mentioned (`Image update for docker.io/...`).

[2020-10-08 03:03] rg9400 commented on #188
Thanks! I tested the lack of the `mention:` property, and it is working as intended (no one gets pinged)

[2020-10-09 15:21] crazy-max commented on #188
@rg9400 I have updated tje `edge` tag. You can now mention a list of users or roles:

[code]

[2020-10-09 17:49] rg9400 commented on #188
Thanks for the quick help! It is working as intended per my initial testing

[2020-10-13 19:49] wkelton commented on #78
@crazy-max Great to hear!

I like the image info added to the body on success. I'm assuming the screenshots are for examples to show what a start, success, and failure look like; not that all three happened together (would you have a success and a failure on the same "check")?

I do self-host my own healthchecks instance. I'm currently using the [linuxserver.io](https://docs.linuxserver.io/images/

[2020-10-13 20:13] crazy-max commented on #78
@wkelton

Yes that's just examples. Here is the workflow:

* Cron job start: start event sent
* Cron job finished: success event sent with a summary of the analysis in the body
* App closed: fail event sent

[2020-10-13 20:23] #78 closed

[2020-10-13 20:23] crazy-max commented on #188
@rg9400 Will be available on next release

[2020-10-13 20:23] #188 closed

[2020-10-14 14:25] wkelton commented on #78
I got it all setup. Seems to be working great, thanks!

[2020-10-14 17:41] Pwhitcomb opened #190 "Discord Notifications Not Working in Kubernetes"
## Behaviour
Container will throw Fatal Error - "Failed to decode configuration from environment variables: Failed to decode configuration from environment variables: field not found, node: webhook"
### Steps to reproduce this issue

1.Start Kubernetes deployment from example on website.
2. Add Discord Notification WebhookURL
3. Pod will restart itself

### Expected behaviour

### Actual behaviour

[2020-10-14 17:44] crazy-max commented on #190
@Pwhitcomb Sorry there is a type in the doc, it should be `DIUN_NOTIF_DISCORD_WEBHOOKURL`

[2020-10-14 17:45] Pwhitcomb commented on #190
Ok thank you!

[2020-10-14 18:32] #190 closed

[2020-10-17 07:51] keppo070 opened #191 "Telegram notification shows weird date/time?"
Docker tag docker.io/crazymax/diun:latest (https://hub.docker.com/r/crazymax/diun) which you subscribed to through docker provider has been newly added on 83869905fc70.

I would suspect some kind of date instead of 83869905fc70

[2020-10-17 11:05] crazy-max commented on #191
@keppo070 `83869905fc70` is the hostname. In your case it looks like the container ID. You can change it with `--name mycontainer` for `docker run` command or `container_name: mycontainer` for `docker-compose`.

[2020-10-18 08:36] keppo070 commented on #191
It is indeed the container ID. I suspected it was a time/date stamp. I use docker-compose and I have given the container a name but the telegram notification uses the container ID.

I have included my docker-compose file

[code]

docker ps -a
[code]

[2020-10-18 09:43] keppo070 commented on #191
After some more googling I found what I was looking for.

`` hostname: diun ``  should be added to the docker-compose file to get the hostname in the notification. It seems Alpine uses the containerid as hostename

[2020-10-18 09:43] #191 closed

[2020-10-28 19:13] varac opened #201 "Add prometheus metrics"
Please add prometheus metrics so the prometheus can check for outdated containers and alertmanager can handle notifications.
Similar ratinale as the related [watchtower request](https://github.com/containrrr/watchtower/issues/295).

[2020-10-30 12:14] accountForIssues opened #202 "Docker container reporting wrong timezone"
## Behaviour
Diun is working under the assumption that the current timezone is CEST (UTC +2). So, the cron jobs and alerts fire an hour early.

### Steps to reproduce this issue
Run Diun as usual.

### Expected behaviour
Diun detects the correct timezone.

## Configuration

* Diun version : 4.6.1 (docker)
* Platform (windows/linux) : linux
* System info (type `uname -a`) : Linux 4.19.0-11-amd64 #1

[2020-10-30 13:01] crazy-max commented on #202
@accountForIssues Can you give me the output of `timedatectl` on your host please?

[2020-10-30 13:12] accountForIssues commented on #202
Here you go;

[code]

[2020-10-30 15:41] crazy-max commented on #202
@accountForIssues Ok looking at your logs `Fri, 30 Oct 2020 14:11:48 CEST INF Next run in 3 hours (2020-10-30 18:00:00 +0200 CEST)` it seems to be a display issue which I can fix. But the behaviour in relation to your timezone should be good.

[2020-10-30 16:05] accountForIssues commented on #202
Diun seems to think that it's CEST so it runs jobs and fires notifications an hour early since the change to CET last week.

The jobs do run every 6 hours and everything else works fine. It's just that I found it odd when I started getting notifications at 2300 last night and 1100 hrs today so decided to take a look at the logs.

Would fixing the display issue mean they'll run at the 'right' time

[2020-10-30 18:47] crazy-max commented on #202
@accountForIssues Fyi, related to golang/go#42216? I will remove `tzdata` Alpine package from the Docker image and use the embedded [`time/tzdata`](https://golang.org/pkg/time/tzdata/) Go package.

[2020-10-30 19:47] crazy-max commented on #202
Should be fixed with `crazymax/diun:fix-timezone` tag. Let me know if it's ok on your side.

[2020-10-31 07:48] accountForIssues commented on #202
@crazy-max Everything seems to be working fine. The last two jobs fired at the right times and diun also shows time as CET. (Using fix-timezone tag).

Thanks for the quick replies and also for creating and maintaining diun :+1:
---

Off topic, but how would diun adjust to the pull limits coming onto Docker next week ? Say, the pull limits were reached after 100 requests, would diun redo the leftov

[2020-10-31 23:22] #202 closed

[2020-10-31 23:30] crazy-max commented on #202
@accountForIssues

I'm also concerned about this because Diun relies on the information of the manifest to work. So each time a tag is analyzed it counts as a request. Maybe we could work around this through the DockerHub API but in the meantime see https://crazymax.dev/diun/faq/#too-many-requests-to-registry

[2020-11-01 23:05] #18 closed

[2020-11-02 13:21] mribeiro opened #205 "DIUN cannot find self update"
## Behaviour

- A new diun version was pushed to tag latest (https://hub.docker.com/r/crazymax/diun) but there's no notification about.
- Also see a 401 in logs. Could it be the issue?

### Steps to reproduce this issue

1. Installed diun:latest from https://hub.docker.com/r/crazymax/diun . Currently running 4.6.1 (installed a couple of days ago)
2. Ran container
3. New version was tagged in lates

[2020-11-02 18:27] deadly667 commented on #109
Hi @crazy-max
also maybe consider option to send notification for each not updated. For example, I want to setup Diun so that he checks my system daily and send me all images which are still on old image.

Now it happens that I read notification but dont have time in that moment to trigger upgrade and after some time I have to scroll all notification looking for which I need to update instead I ju

[2020-11-02 21:59] crazy-max commented on #205
@mribeiro

This log is normal. It first tries to connect to the registry and if it fails it will retrieve a token.

Check your logs, the notification may have already been triggered but failed. You can verify this by checking if the `diun.db` database contains the `crazymax/diun:4.7.0` tag. You can use [boltBrowser](https://github.com/ShoshinNikita/boltBrowser) which is a GUI web-based explorer an

[2020-11-03 09:29] mribeiro commented on #205
Ah, guess that was the issue! That or the fact the first check was disabled and was getting no notification.
Sorry about the trouble @crazy-max !

[2020-11-03 09:29] #205 closed

[2020-11-04 11:42] derekoharrow opened #207 "Please add support for Pushover notifications"
Can you add support for Pushover notifications?

Pushover uses a simple REST API as described here - https://pushover.net/api

It simply requires a user token/key, an API token, and the message.

Thanks

[2020-11-04 18:20] Trollwut opened #208 "Docker rate limit"
Hey mates!

This might be a stupid questio, but I need some insights.

Got some Docker services running and, of course, Diun to notify me about updates.

Now I pulled and updated one (exactly one) via docker-compose, which worked as intended.

But now I wanted to update a second container and whelp, can't pull it:

    Error pulling mailcow/unbound:1.12, retrying...
    Error response from daemon:

[2020-11-04 19:38] TheSpad opened #209 "Notification links for GHCR"
## Behaviour
Not sure if this is possible yet with how GHCR is set up, but Discord (and possibly other) notifications for images hosted on dockerhub link the image name to the dockerhub page:

![image](https://user-images.githubusercontent.com/8425502/98159779-112d9780-1ed5-11eb-9bb9-ab74e91003f3.png)

But GHCR images do not:

![image](https://user-images.githubusercontent.com/8425502/98159814-201

[2020-11-04 19:43] crazy-max commented on #209
@TheSpad Yes I will translate the hub link for GHCR in the notification, thanks for your input!

[2020-11-04 19:46] crazy-max commented on #208
@Trollwut

Yes this could affect the rate limit. Can you give me your compose file and diun configuration if you have one please? I would need your logs as well and the output of `docker ps -a`. Thanks.

[2020-11-05 08:50] Trollwut commented on #208
Of course!

I guess these are the lines that are most important for it:

    DIUN_WATCH_WORKERS: 20
    DIUN_WATCH_SCHEDULE: "0 */6 * * *"
    DIUN_PROVIDERS_DOCKER: "true"
    DIUN_PROVIDERS_DOCKER_WATCHSTOPPED: "true"
    DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT: "true"

If you need any more information, please ask. I'm travelling right now, can give better details when terminal copying through SSH

[2020-11-05 12:42] TheKas commented on #207
+1

[2020-11-07 19:27] #209 closed

[2020-11-07 20:18] crazy-max commented on #209
@TheSpad Can you test with `crazymax/diun:edge`?

[2020-11-07 21:07] TheSpad commented on #209
I've switched diun to `edge` on my hosts and I'll let you know as soon as it picks up an update.

[2020-11-08 09:37] TheSpad commented on #209
All working as expected:

![Screenshot_20201108-093635](https://user-images.githubusercontent.com/8425502/98461658-f3e31c80-21a5-11eb-9e39-7835288b8185.png)

[2020-11-09 16:52] spacedogs-wtf opened #215 "Script notification howto"
I am not able to make the script notification work with Diun running in docker itself.
It claims that there is no file or folder when i enter a script.
Even adding a simple echo command fails because the command is not in $PATH, i get told.
I dont think its an issue on your side. So i kindly ask if you can provide a working example in the docs.

[2020-11-09 20:17] mouzzampk2014 opened #216 "Docker volume not creating any files?"
Hi, need little help. I am using this compose and I am sure we don't need this volume `./data:/data` because it doesn't create any files inside the container but just an empty folder?
[code]
Thank you

[2020-11-09 21:08] crazy-max commented on #216
@mouzzampk2014

We need it to store Bolt database where images manifests are saved (see [db config](https://crazymax.dev/diun/config/db/)). For the Docker image [it defaults to `/data/diun.db`](https://github.com/crazy-max/diun/blob/a1a4c439ff44ea0f619472803c0a4d6b55de9b20/Dockerfile#L36).

Maybe an error occurred when the container is launched and that's why there is no database. Can you show you

[2020-11-09 21:13] crazy-max commented on #208
@Trollwut Thanks for the info. Your configuration doesn't seem aggressive to me so I don't think it comes from Diun. Have you configured labels on your containers like [`diun.watch_repo=true`](https://crazymax.dev/diun/providers/docker/#docker-labels)?

[2020-11-09 21:19] mouzzampk2014 commented on #216
Thank you @crazy-max here is the logs https://pastebin.com/PLg6RAnX

And that's my exact docker-compose. Thank you
[code]

[2020-11-09 21:26] crazy-max commented on #216
@mouzzampk2014

There is no `/config` folder to mount from the container [but `/data`](https://github.com/crazy-max/diun/blob/master/Dockerfile#L38).
So you should replace with `- ${DOCKERCONFDIR}/diun:/data`

And looking at your logs database is actually created but `/data/diun.db`.

[2020-11-09 21:26] mouzzampk2014 commented on #216
Apologise my mistake, inside container supposed to be `/data` but I had `/config`. I changed the volume to `/home/mario/.config/appdata/diun:/data` and now I can see .db created inside the folder.

[2020-11-09 21:27] #216 closed

[2020-11-09 21:40] crazy-max commented on #215
@spacedogs-wtf

Can you show your compose file and diun configuration please?

[2020-11-09 22:05] Trollwut commented on #208
Nope, haven't set any labels referencing Diun. That's why I set "WATCHBYDEFAULT" to "true", which works, as it reports new versions of my running containers.

[2020-11-10 16:40] spacedogs-wtf commented on #215
[code]
results in `Script notification failed error=": exec: \"echo 'hello'\": executable file not found in $PATH" image=[...]`
i also tried to mount a script from the host into diun. i tested several ways to run it (e.g. with set `DIUN_NOTIF_SCRIPT_DIR`) but it always fails too.

[2020-11-10 17:17] crazy-max commented on #215
@spacedogs-wtf `echo 'hello'` is not a valid command. If you want to pass args you have to use the `DIUN_NOTIF_SCRIPT_ARGS` env as explained in the [documentation](https://crazymax.dev/diun/notif/script/):

[code]

[2020-11-10 19:26] spacedogs-wtf commented on #215
ah thats the missing piece. now it works 👍

maybe as a help for others:
mount the script you want to execute into the diun container (of course). as a value for `DIUN_NOTIF_SCRIPT_CMD` i had to use `sh`. `bash`and `.` did not work.

@crazy-max one last question: according to the docs it seems that you do not forward the new version of the updated container image as an environment variable to the s

[2020-11-11 20:44] crazy-max commented on #215
@spacedogs-wtf

If you want to exec a shell script yes you have to use `sh`. `bash` package is not installed in the Docker image.

What do you mean by "new version"?

[2020-11-12 22:52] #215 closed

[2020-11-12 23:00] #208 closed

[2020-11-13 00:53] crazy-max commented on #208
@Trollwut With [latest release (4.8.0)](https://github.com/crazy-max/diun/releases/tag/v4.8.0), Docker Hub rate limits should now be drastically reduced by comparing the digest of the analyzed image through a `HEAD` request on the manifest that does not count towards the limit. This also improves analysis performance. More info in [the FAQ](https://crazymax.dev/diun/faq/#docker-hub-rate-limits).

[2020-11-13 07:22] Linecutterx opened #219 "Telegram notification content"
I get notifications in this style. Looks like there's an epoch to human date conversion missing? (& maybe "docker provider" should be the repository name?)

"Docker tag docker.io/crazymax/diun:latest which you subscribed to through docker provider has been updated on 327c2ea67ac9."

[2020-11-13 08:11] crazy-max commented on #219
@Linecutterx Duplicate #191

[2020-11-13 08:11] #219 closed

[2020-11-13 08:58] Trollwut commented on #208
Thank you very much!

[2020-11-14 07:43] zewelor opened #221 "Cannot get image digest"
## Behaviour

### Steps to reproduce this issue

1. run diun with docker provider
2.
3.

### Expected behaviour

No warn

### Actual behaviour

I get following error for all images added to monitor
[code]

## Configuration

* Diun version : 4.8.0
* Platform (windows/linux) : linux
* System info (type `uname -a`) : Linux x1 5.4.0-52-generic #57-Ubuntu SMP Thu Oct 15 10:57:00 UTC 2020 x86_64 x86_64

[2020-11-14 14:43] crazy-max commented on #221
@zewelor Can you increase the [regopt timeout](https://crazymax.dev/diun/config/regopts/#timeout) context and let me know if it works?: `DIUN_REGOPTS_DH_TIMEOUT=20s`.

[2020-11-14 15:23] zewelor commented on #221
Thanks for reply. With this option I don't get that error, and from looking into debug log it looks all good ! But now I've got another error, but only on one image.

[code]

[2020-11-14 15:30] crazy-max commented on #221
@zewelor I think I get it. I'll push a patch and let you know.

[2020-11-14 15:51] crazy-max commented on #221
@zewelor I've pushed a fix can you try with `image: crazymax/diun:edge` tag and also remove `DIUN_REGOPTS_DH_TIMEOUT` en var. Thanks.

[2020-11-14 15:54] mouzzampk2014 opened #222 "Not receiving notification about image updates"
Hi, I am not seeing any errors or any issues but I am also not been notified which images recently received updates. I only get one discord notification about `diun` image update is available but not for other services. Not sure what I am missing. Thank you
[code]

[2020-11-14 15:59] crazy-max commented on #222
@mouzzampk2014 You have to [enable Diun for each container/service through Docker labels](https://crazymax.dev/diun/providers/docker/#docker-labels) or you can [watchByDefault](https://crazymax.dev/diun/providers/docker/#watchbydefault) with `DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT=true` env var. Also `- /etc/localtime:/etc/localtime:ro` will do nothing here azs timezone is managed through Diun. Same

[2020-11-14 15:59] #222 closed

[2020-11-14 16:11] mouzzampk2014 commented on #222
Thank you so much all working and also changed the compose too. Much appreciated.

[2020-11-14 16:16] #221 closed

[2020-11-14 20:01] zewelor commented on #221
Thanks, that error was fixed, I've removed DIUN_REGOPTS_DH_TIMEOUT. Now I get other error:

[code]

[2020-11-14 20:03] crazy-max commented on #221
@zewelor Can you give me complete logs with debug enabled (`LOG_LEVEL=debug`) please?

[2020-11-14 20:11] zewelor commented on #221
[code]

I've done docker image inspect and looks like its diun:4.8.0 hmm

[2020-11-14 21:45] crazy-max commented on #221
@zewelor What bothers me here is that he is trying to scan an image that does not exist on Docker Hub: `docker.io/library/sha256:....`. Looks linked to https://github.com/crazy-max/diun/issues/137#issuecomment-665908586. Can you give me the output of the following commands please?:

* `docker info`
* `docker ps -a`

[2020-11-15 06:17] zewelor commented on #221
[code]

Head of ps -a output:

[code]

[2020-11-25 04:39] kirsch33 commented on #10
i too would be interested in having this feature added. way too many emails but i love the image.

[2020-11-26 20:45] ksurl opened #229 "Opt out of being watched?"
if DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT is set to true and on specific containers you set diun.enable=false, does that work?

ie. I want to watch all containers except ones that are explicitly set to disabled.

It would also be nice to have global watched tag filter instead of per container label (eg. filter all my own containers and only monitor ones maintained by 3rd parties).

[2020-11-26 21:24] crazy-max commented on #229
@ksurl

Yes as you can see I check first if `diun.enable` is setted, otherwise I check for `watchByDefault` behavior:

https://github.com/crazy-max/diun/blob/56b87da00fba9449f05fa401b3276276cc5f1853/internal/provider/common.go#L20-L30

[2020-11-26 21:55] ksurl commented on #229
Thanks.

[2020-11-26 21:55] #229 closed

[2020-12-04 06:31] cpwood opened #230 "Watch image not used by a container"
Is it possible to get a notification about images that _aren't_ in use by a container?

Specifically, my use case is base images. If a base image is updated, I'd like to be triggered to update my derived image.

[2020-12-04 17:38] ksurl opened #232 "Multiple providers and docker vs file"
can you specify to use both docker and file providers (running containers) and a list from a file config?

and for the file provider, is it aware of the local images and checks the image digest vs the registry before actually pulling manifests?

[2020-12-04 17:44] ksurl commented on #232
I just tested and it takes both providers. still wondering about file image checking though

[2020-12-04 18:07] ksurl commented on #232
how should images without a latest tag be configured? I am trying to check for ghcr.io/linuxserver/baseimage-alpine so I know when it updates and to rebuild my images. they only tag based on the sha and version numbers since it's only used internally with their own ci.

[2020-12-05 17:25] mzac opened #233 "Kubernetes daemonset sends multiple notifications"
## Behavior
It seems that when running diun on kubernetes that if you are running a daemonset (pods running on all nodes) that notifications are sent out for the same image for all nodes.  Example, I have pihole running on 3 nodes in my cluster as a daemonset and I get 3 notifications. Does this also mean that it is talking to dockerhub 3 times and bumping that new rate limit too?

Note: So as not

[2020-12-07 08:18] TUISTERa commented on #64
Hello, Do you have any plans for adding this? At least i want to add a "#duin" at the end of the message , for filtering purpose at my telegram notifications...

[2020-12-07 08:21] crazy-max commented on #64
@TUISTERa Yes I've planned to add this through a simple template. Keep you in touch.

[2020-12-11 06:08] Cellane opened #238 "[Question] Issue running a custom script as a notification"
Similar to #215, I’m very sorry but I seem to be unable to configure Diun to trigger a custom script when a new image is discovered in Docker registry. I have configured Diun like so:

`/etc/diun/diun.yaml`:
[code]

`/etc/diun/config.yml`
[code]

`/etc/diun/notify.sh` (`chmod +x` was run from host system)
[code]

The content of the `/etc/diun` directory is mounted from the host system, as I’m runn

[2020-12-11 06:18] crazy-max commented on #238
@Cellane

Have you tried with:

[code]

[2020-12-11 06:29] Cellane commented on #238
Wow, lightning-fast response, thank you so much! 🙇‍♂️
I have not tried that until now, but it seems that it’s also not working, unfortunately…

[2020-12-11 06:38] Cellane commented on #238
I forgot to mention that Docker logs don’t show any errors, unfortunately…

![obrazek](https://user-images.githubusercontent.com/171604/101871446-e9fa7200-3bc6-11eb-9afa-ee19c0cb9b4d.png)

[2020-12-11 06:40] crazy-max commented on #238
@Cellane Ok thanks I will make some tests on my own, keep you in touch.

[2020-12-11 06:46] crazy-max commented on #230
@cpwood You can use the file provider for that: https://crazymax.dev/diun/providers/file/

[2020-12-11 07:07] crazy-max commented on #232
@ksurl

Yes, I've created a user guide specially for that: #239

Please create [one issue per request/bug](https://github.com/crazy-max/diun/blob/master/.github/SUPPORT.md#writing-good-bug-reports-and-feature-requests). Thanks.

[2020-12-11 07:25] #230 closed

[2020-12-11 07:25] #232 closed

[2020-12-11 07:28] crazy-max commented on #230
See also https://crazymax.dev/diun/user-guides/docker-file-providers/

[2020-12-11 18:11] VoliKoN opened #240 "MQTT Reconnection Log Spam"
## Behaviour
Diun was working great and reporting updates as expected.
After a few hours, the Mosquitto machine alerts me of 0% space left and the machine log is full of reconnection messages.
I can't change Mosquitto log settings to suppress those messages, as they are set inside the container.
### Steps to reproduce this issue

1. Run Diun with mqtt notification enabled and pointed to [Mosquitto

[2020-12-11 22:47] crazy-max commented on #240
cc @aschoelzhorn.

[2020-12-12 07:53] aschoelzhorn commented on #240
I'm preparing a pull request for this one

[2020-12-15 05:06] hugalafutro opened #242 "unable to spin diun:latest on raspberry pi zero W"
I run diun without problems on several raspberry's 3 and 4, recently I came into possession of raspberry pi zero W but diun won't run there. Container gets created, seemingly starts but actually doesn't. The only thing in container log is:
[code]
`docker-compose.yml`:
[code]
Docker version 20.10.0, build 7287ab3
docker-compose version 1.27.4, build unknown
(same on all raspberrys)

`uname -a` on t

[2020-12-15 07:39] crazy-max commented on #242
@hugalafutro, can you give me the output of `uname -a` on your raspberry's 3 and 4 please?

[2020-12-15 13:05] hugalafutro commented on #242
sure:
rpi4: Linux docker-pi 5.4.0-1025-raspi #28-Ubuntu SMP PREEMPT Wed Dec 9 17:10:53 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux
rpi3: Linux pi-hole 5.4.79-v7+ #1373 SMP Mon Nov 23 13:22:33 GMT 2020 armv7l GNU/Linux

[2020-12-15 13:43] crazy-max commented on #242
@hugalafutro Can you type the following commands and let me know:

[code]

[2020-12-15 22:39] hugalafutro commented on #242
[code]
[code]
the next one gave an error, but ran:
[code]
the last command gave same warning, but didn't run and also seemingly froze, I had to ^C out of it after few mins as I don't have that kind of patience lol:
[code]

[2020-12-16 08:06] #240 closed

[2020-12-17 04:12] maguilara opened #243 "Cannot load configuration error="Key: 'Config.Providers.File.Filename' Error:Field validation for 'Filename' failed on the 'file' tag""
## Behaviour
Fails to load configuration for providers (?) and simply keeps rebooting itself. It's on a docker container
### Steps to reproduce this issue

1. Create both "custom-images.yml" and docker-compose files
2. Launch it using docker-compose -f diun.yml up -d
3. Crash (indefinitely)

### Expected behaviour

Launch correctly, I followed this sort of recipe found the docs: https://crazymax.d

[2020-12-17 05:01] crazy-max commented on #243
@maguilara Looks like `${ROOT_DOCKER}/diun//custom-images.yml` does not exist on your host. Please check again or put the absolute path.

[2020-12-18 19:08] crazy-max commented on #242
@hugalafutro

There's something odd between the host and target platform. Looks like Pi Zero uses an armv6 CPU which isn't supported by the Docker engine (and by most images on Docker Hub I think). Are you able to spin up other images?

Can you give me the output of the following commands please:
* `docker run --rm alpine uname -a`
* `cat /proc/cpuinfo`
* `docker events`
* `docker image inspect he

[2020-12-18 19:56] crazy-max commented on #238
@Cellane I've made some tests and I cannot reproduce your issue.

[code]

[code]

[code]

### From command line

[code]

### From compose

[code]

[code]

Some hints:
* Check chmod of `notify.sh` (`chmod +x notify.sh`)
* Set log level to debug
* Try `diun --test-notif --log-level debug`
* Set `firstCheckNotif: true` for testing

[2020-12-18 19:56] #238 closed

[2020-12-18 20:17] hugalafutro commented on #242
Hi, I am succesfully runnning portainer agent and room-assistant containers on it, which is why I wanted to put diun there as well to know when r-a updates (atm I moved the r-a to a pi3 so the zero only has portainer agent running).

`docker run --rm alpine uname -a`
[code]

`cat /proc/cpuinfo`
[code]

`docker events`
[code]

`docker image inspect hello-world`
[code]

`docker image inspect crazyma

[2020-12-18 21:46] crazy-max commented on #242
@hugalafutro Thanks for your feedback! Can you test with `crazymax/diun:test` image please?

[2020-12-19 02:08] maguilara commented on #243
Sorry, this was entirely my fault, I was testning a new scheme for my docker files and ROOT_DOCKER was incomplete, so indeed the path was wrong and couldn't find the file. Solved, sorry for taking your time!

[2020-12-19 02:08] #243 closed

[2020-12-19 11:07] hugalafutro commented on #242
No luck with the `test` image:
[code]
As a sidenote, if this is an isuse with docker and not diun feel free to close the issue I wouldn't want you to waste your time on it I can always run the containers on other pi and use the zero in different project.

[2020-12-20 05:20] Cellane commented on #238
@crazy-max Thank you so much for spending the time on this!
I think the entire problem can be explained by me not noticing the `default: false` on `firstCheckNotif` – I definitely wanted to trigger the notification script when new image tag (that matches conditions) is first discovered. After changing the value to `true` and resetting Diun’s database, my CI system got bombarded (as expected 😅) by

[2020-12-23 06:36] nearcatch opened #245 "[Suggestion] Categorize "Tag not included" images as something other than failure"
In the below log, you can see that there are warnings because I am using the "diun.include_tags" label to only watch the "latest" tag for certain containers. I use point releases in my docker-compose for stability reasons, but I'm purposely not watching those since they'll either never change or because it makes more sense to watch the "latest" tag. However, diun categorizes these as failed jobs (

[2020-12-23 08:30] crazy-max commented on #245
@nearcatch Can you post your compose file please?

[2020-12-23 11:48] nearcatch commented on #245
I've only included one of the watched containers but the diun labels are identical for all of them.

[code]

[2020-12-23 11:53] crazy-max commented on #245
@nearcatch Ok so warning messages for `Tag not included` are expected here but like you said we could change the current level. I think debug would be good here. WDYT?

[2020-12-23 12:01] nearcatch commented on #245
Debug would be good.

I said they were failures based on this line. The `failed=10` matches up to the number of `WRN` present.
[code]

[2020-12-23 12:02] crazy-max commented on #245
@nearcatch

Good point that's something we could improve here.

[2020-12-27 02:16] crazy-max commented on #233
@mzac Please post the log output (with log-level to debug). Thanks.

[2020-12-27 20:48] mzac commented on #233
Here is an example, I have traefik running as a deployment with 6 replicas.

[code]

[2020-12-28 21:32] #245 closed

[2020-12-28 21:39] crazy-max commented on #233
@mzac Ok thanks, there's an issue here, we should handle properly daemonset pod for Kubernetes and global services for Swarm.

[2020-12-29 03:03] hugalafutro commented on #242
Hi,
whatever you did in latest update seems to have fixed it:
[code]
Tested on both zero W and zero. Many thanks!

[2020-12-29 03:03] #242 closed

[2021-01-01 14:46] Tech-FR opened #250 "Enable manual running of diun from commandline"
Is it currently possible to to run diun outside the cron schedule for a manual adhoc run.

[2021-01-02 15:54] #250 closed

[2021-01-02 23:48] crazy-max commented on #233
@mzac #252 should fix your issue. Can you try with `crazymax/diun:fix-k8s`?

[2021-01-03 10:38] Tooa opened #253 "Telegram notification does not work for group chat id"
## Behaviour

I migrated from v3 to v4 and went from a configuration via `diun.yml` to a configuration via env variables according to [this](https://crazymax.dev/diun/migration/v3-to-v4/) guide. Before the migration `diun` was working fine with the same configuration using `diun.yml`.

Now, I receive no notification via telegram any more when using a group chat id as value of `DIUN_NOTIF_TELEGRAM_

[2021-01-03 12:34] Tooa commented on #253
Got rid of the problem, my fault. Here is what I did:

* Removed quotes from `DIUN_WATCH_SCHEDULE` and `DIUN_NOTIF_TELEGRAM_TOKEN`. That resolves the `failed to parse int from \"0: strconv.Atoi: parsing \"\\\"0\": invalid syntax` issue.

[2021-01-03 12:34] #253 closed

[2021-01-04 00:32] crazy-max commented on #207
@derekoharrow #254

[2021-01-04 21:29] #207 closed

[2021-01-04 22:35] #233 closed

[2021-01-06 07:55] Toomblr opened #256 "Denied: requested access to the resource is denied"
## Behaviour

### Steps to reproduce this issue

1. Create provided docker-compose.yml
2. run docker-compose up -d
3. check logs

### Expected behaviour

### Actual behaviour

Wed, 06 Jan 2021 04:00:19 CET WRN Cannot get remote manifest error="Cannot get image digest from HEAD request: Error reading digest 5cc6c0a85bb8e3ca65f878f45734c7912bb39e5612c89a6cce10991404938578 in docker.io/library/sha256

[2021-01-06 19:07] derekoharrow commented on #207
Brilliant - thank you.  Works great!!

[2021-01-07 11:02] crazy-max commented on #256
@Toomblr Can you test with `crazymax/diun:edge` and give me the log output (debug level) if this issue occurs again?

[2021-01-07 18:38] Toomblr commented on #256
[code]

[2021-01-07 18:53] crazy-max commented on #256
Can you post all logs from the latest analysis please? (right after `Cron triggered`)

[2021-01-08 08:01] Toomblr commented on #256
@crazy-max

[code]

Seems like all is fine with latest CRON initiated run since I'm not getting any failed jobs, right?

[2021-01-08 08:39] crazy-max commented on #256
@Toomblr Yes no issue so far for this run. Let me know when the issue occurs and post the logs. Thanks

[2021-01-09 03:57] TheCatLady commented on #64
@crazy-max I'm also very interested in this functionality!  (I have OCD and am on a quest to uniformly style all my Pushover notifications.)  Would be happy to help test once you've implemented it!

[2021-01-10 20:16] cjr222 opened #257 "Multiple Docker Providers"
I searched the docs, FAQ and open issues but couldn't find an answer to this. Can you use multiple docker providers, if so what is the yaml format?
I've tried both of the following formats and while it doesn't error out, it only pulls one of the docker hosts images.

[code]

AND

[code]

[2021-01-10 22:30] crazy-max commented on #257
@cjr222 It is not possible to declare the same provider more than once. You need to create a new instance of Diun for this.

[2021-01-10 22:30] #257 closed

[2021-01-16 01:01] crazy-max commented on #250
Fixed with latest release. Just remove the schedule setting.

[2021-01-16 12:00] hugalafutro opened #261 "get notification, but no new image available"
Hi, 3rd day in a row I got an notification `Docker tag docker.io/library/mongo:3 (https://hub.docker.com/_/mongo) which you subscribed to through docker provider has been updated on vm-docker_diun.`, however when I go to the vm and try to pull new image there ain't none.

relevant `docker-compose.yml`:
[code]

[2021-01-16 18:07] crazy-max commented on #261
@hugalafutro Need logs. Please create a proper [bug report](https://github.com/crazy-max/diun/issues/new?assignees=&labels=&template=bug_report.md).

[2021-01-17 12:01] hugalafutro commented on #261
Wanted to grab the logs from todays run but of course today it didn't happen. Disregard this, I'll e-open with proper logs should it start happening again.

[2021-01-17 12:01] #261 closed

[2021-01-17 13:53] #256 closed

[2021-01-20 03:57] sintaxx commented on #64
Would this also include the ability to provide a custom name to the bot for example on discord it shows up as DIUN[bot], i'd like to be able to customize the name such as DIUN-Server1name, DIUN-Server2Name so both of my monitored servers can alert the same channel and i can differentiate them.

[2021-01-20 05:16] TUISTERa commented on #64
If you can add custom tags In message the botname can be irrelevant. For
example #s1 #plex , #s2 #homeassistant etc...

On Wed, Jan 20, 2021, 5:57 AM sintax <notifications@github.com> wrote:

[2021-01-22 00:01] crazy-max opened #262 "Dockerfile provider"
This provider will allow to parse a [Dockerfile](https://docs.docker.com/engine/reference/builder/), extract the image from the [`FROM`](https://docs.docker.com/engine/reference/builder/#from) instructions and check for updates as usual.

Multi inputs will be available for this provider:

* `./Dockerfile` Parse a single Dockerfile
* `/a/path` Parse a folder and search for a Dockerfile
* `/a/path/*

[2021-01-26 11:43] SAOPP opened #263 "Connect to many than one remote docker host"
Hi! It's a question!

Thanks for Diun! Amazing!

It's possible to implemented remote monitoring for a few remote docker instances from one Diun? For example listing them and giving a name with ip via a config file or still use variables for this type REMOTE_HOST1_HOST and REMOTE_HOST1_NAME something like this... Any comments 'bout this? Or is the implementation of such functionality will require a

[2021-01-28 16:50] janekbettinger opened #264 "Docker image update not properly detected if `Created` timestamp does not change"
## Behaviour

### Steps to reproduce this issue

Simple setup to detect changes on `gcr.io/distroless/java:11` (https://console.cloud.google.com/gcr/images/distroless/GLOBAL/java).

[code]

[code]

[code]

[code]

[code]

The `manifest` table in _diun.db_ now contains (reformatted for readability) (I've used https://github.com/evnix/boltdbweb):
[code]

Now change the `Digest` field to:
[code]

As

[2021-02-01 23:22] cwldev commented on #109
I second this request. Having some way to differentiate - or maybe notifying of ALL the images that require updates in one notification (as long as at least one needs an update). Sort of similar to what watchtower does in notification emails. Even better than watchtower, indicating that an image has updated more than once in the registry since updates were found (but not updated to).

[2021-02-07 11:51] myInstagramAlternative opened #267 "I only get updates for diun image"
## Behaviour

### Steps to reproduce this issue

btw. I used boltBrowser CLI to recheck database but there is  only diun

### Expected behaviour

### Actual behaviour

## Configuration

* Diun version : 4.11.0
* Platform (windows/linux) : linux
* System info (type `uname -a`) :  5.4.83-v7l+  armv7l

[code]

[code]

[code]

### Logs
[code]

[2021-02-08 01:29] crazy-max commented on #267
@myInstagramAlternative https://github.com/crazy-max/diun/issues/222#issuecomment-727227368

[2021-02-08 01:29] #267 closed

[2021-02-08 01:49] crazy-max commented on #264
@janekbettinger In a nominal case `Created` should change on update but yes `Digest` is a better footprint for this purpose. I will make a change about that.

[2021-02-08 10:26] janekbettinger commented on #264
For some more context: in the given example the `Created` timestamp does not change to enable reproducible builds. But indeed, for the majority of Docker images the timestamp is updated on each new build.

* https://github.com/GoogleContainerTools/jib/blob/master/docs/faq.md#why-is-my-image-created-48-years-ago
* https://reproducible-builds.org/

[2021-02-08 17:02] crazy-max commented on #264
@janekbettinger Ah yes good point in Jib ergh :sweat_smile:

[2021-02-08 19:18] #264 closed

[2021-02-08 23:07] myInstagramAlternative commented on #267
Thank you so much @crazy-max, In a month or two I'll do $30, I'm broke now and I'm in the middle of changing job position

[2021-02-10 13:58] crazy-max commented on #267
@myInstagramAlternative That's so nice, thanks!

[2021-02-13 12:05] zerocool79 opened #272 "Pushover notification failed error="invalid character '<'"
## Behaviour

Pushover notification failed for some images that are found.
Example:

Pushover notification failed error="invalid character '<' looking for beginning of value" image=ghcr.io/linuxserver/sabnzbd:latest

* Diun version : 4.12.0
* Platform (windows/linux) : linux

[2021-02-13 12:19] crazy-max commented on #272
@tongliang79 Can you paste your logs here please? And also a screenshot of a working notification with pushover. Thanks.

[2021-02-14 01:41] tongliang79 commented on #272
Here you go:

[debug.log](https://github.com/crazy-max/diun/files/5976858/debug.log)

Screenshot of a working pushover notification:
<img width="367" alt="Screenshot" src="https://user-images.githubusercontent.com/17445886/107866168-a531d680-6ea8-11eb-85f0-e13374a4cebf.png">

[2021-02-14 18:16] crazy-max commented on #272
@zerocool79 I have made some changes to enhance message sanitization in #273. Can you try with `crazymax/diun:edge`?

[2021-02-15 08:13] zerocool79 commented on #272
@crazy-max , seems like the issue is still there.

[debug_20200215.log](https://github.com/crazy-max/diun/files/5980230/debug_20200215.log)

[2021-02-15 09:47] crazy-max commented on #272
@zerocool79 Ok thanks for your feedback. Can you test with `crazymax/diun:pushover-debug` and give me your logs? Thanks.

[2021-02-15 16:32] rg9400 opened #274 "[Edge] Discord Notifications: links no longer rendering properly"
## Behaviour
Previously, links used to render properly in Discord notifications, but after the messaging changes on the Edge branch, they've been having issues.

### Steps to reproduce this issue

1. Pull `crazymax/diun:edge`
2. Set up config notifier as below
[code]
3. Wait for an update to trigger the notification

### Expected behaviour

It should look like it used to in earlier versions before

[2021-02-15 16:49] crazy-max commented on #274
@rg9400 Thanks for your feedback and tests against edge tag. I will take a look.

[2021-02-15 17:14] #274 closed

[2021-02-16 11:16] zerocool79 commented on #272
I have used crazymax/diun:pushover-debug and it doesn't look like there is a change in version number.  But here it is regardless.
[debug_20200216.log](https://github.com/crazy-max/diun/files/5988157/debug_20200216.log)

[2021-02-16 11:38] crazy-max commented on #272
@zerocool79 Ok thanks for the logs, First I thought the issue was about message formatting but it looks like Pushover recipient details API is the culprit here, that's why I cannot reproduce. Must be specific to your account profile on Pushover website. I have updated `crazymax/diun:pushover-debug` to print more logs and also skip the recipient details part. Can you make another test and give me y

[2021-02-17 20:22] #272 closed

[2021-02-17 20:22] crazy-max commented on #272
@zerocool79 `crazymax/diun:edge` should fix your issue. Can you confirm? Thanks!

[2021-02-18 11:43] aocana opened #279 "does not update containers :-/"
Hi,

I have diun installed under the following settings. Apparently it is working correctly, but I don't really think it doesn't update the containers with new images, I base this on the fact that when I do a manual upgrade it updates the container.

here the compose of diun:

[code]

here .yml setup:
[code]

I receive these messages, but the image of the container remains with the old one:

`Dock

[2021-02-18 11:50] crazy-max commented on #279
@aocana https://github.com/crazy-max/diun/issues/2#issuecomment-500403408

[2021-02-18 11:50] #279 closed

[2021-02-23 09:40] zerocool79 commented on #272
Hi there,

Deepest apologies for the lack of response over the past few days but
family and work has kept me busy.
I do see some errors but this might not have been due to pushover.

Here is the log as attached.

On Thu, Feb 18, 2021 at 4:23 AM CrazyMax <notifications@github.com> wrote:

[2021-02-23 11:17] jzt308 opened #283 "Support of secrets in none swam environments"
I checked the docs but couldn't find an answer.
I would like to be able to add sensitive information (i.e. DIUN_NOTIF_ROCKETCHAT_TOKEN) as a secret instead of in the docker-compose file or the CLI.

when in  swarm mode you can use docker secrets managed by the swam for this but on  a standalone docker install this is not possible.

for example the mariadb container uses a file mount and reads the

[2021-02-23 15:34] crazy-max commented on #283
@jzt308 Yes some notifiers miss this kind of behavior to use secret file as value. Matrix notifier handles this: https://crazymax.dev/diun/notif/matrix/ and we can definitely do this for the others. Keep you in touch.

[2021-02-23 15:35] crazy-max commented on #272
@zerocool79

I don't see the log file.

[2021-02-27 15:48] Forbish opened #285 "error pinging docker registry - i/o timeout"
## Behaviour
All checks are failing with Diun configured as per recommended specifications. Seems to be network related issue "i/o timeout". Works fine when I configure host networking against the container, so seems to be specific to bridged networking?

### Steps to reproduce this issue

1. Setup Diun using recommended config from "https://crazymax.dev/diun/install/docker/"
2. Run image
3. Check

[2021-02-28 00:00] crazy-max commented on #285
@Forbish Looks like a DNS issue linked to your Docker network config and not something with Diun itself. What is the output of this command: `docker run --rm -it busybox nslookup registry-1.docker.io`?

[2021-02-28 00:00] #285 closed

[2021-02-28 03:05] Forbish commented on #285
@crazy-max Thanks for the suggestion, I have confirmed this was an issue with my host as per the command you provided, and not Diun. Unsure why it only turned up with this container as I have others on bridge networks. Such is life!

Turns out it was a firewall issue on the host, I added an allow rule for the Docker bridge IP ranges and it started working.

Appreciate your help anyway, have a good

[2021-02-28 17:39] mtklr opened #286 "thanks and a minor feature question"
Great project, thank you for making it!

I would love to see a "plain" log messages option without the color escape codes - logs in [ctop](https://github.com/bcicen/ctop) appear as:

[code]

Maybe ctop should support ansi codes in the logs instead? :)

Not a big deal though. Thanks again.

[2021-02-28 23:23] crazy-max commented on #263
@SAOPP #257

[2021-02-28 23:25] #286 closed

[2021-02-28 23:47] #283 closed

[2021-02-28 23:52] crazy-max commented on #263
After thinking about it I think it would be more reliable and judicious to create an "agent" to implement this. For example, we could have an agent-type provider that would be another instance of Diun that we could exploit. I will create a draft about it and come back to you later.

[2021-03-01 00:19] crazy-max commented on #286
@mtklr A new flag has been added to disable colorized output. See https://crazymax.dev/diun/usage/cli/

[2021-03-01 00:21] crazy-max commented on #283
@jzt308 Available, see https://crazymax.dev/diun/notif/rocketchat/

[2021-03-01 00:59] mtklr commented on #286
wow, thanks!!! :)

[2021-03-01 07:58] SAOPP commented on #263
Awesome! :)

[2021-03-07 16:01] agrider opened #293 "High Memory Usage?"
## Behaviour
I'm new to Diun, so this may just be user error, or even just misaligned expectations, but it seems like my Diun instance is using an inordinate amount of memory for the task it is performing. I have configured Diun as below with the intention of having Diun monitor containers which I have pinned to specific versions and do not want auto-updated but do want to know when new versions a

[2021-03-07 16:27] crazy-max commented on #293
@agrider

I have ~50 images watched and I'm barely over 40MB. Maybe linked to the Gotify client. I will take a look ,thanks for your feedback.

[2021-03-08 22:41] kireque opened #294 "Provision DIUN_NOTIF_TELEGRAM_CHATIDS via file"
I'd like to provision my chatids via secretsfile in docker-compose, just like DIUN_NOTIF_TELEGRAM_TOKENFILE
Unfortunately this option is not available for the chatids. Suggestion would to implement a DIUN_NOTIF_TELEGRAM_CHATIDSFILE.

I put all my secrets in separate file to make sure no sensitive data is present in the docker compose configuration file.

https://crazymax.dev/diun/notif/telegram/#c

[2021-03-09 10:56] sholl opened #297 "Matrix-Notification does not work"
## Behaviour

The configured matrix-notification does not work atm in v4.13.0

### Steps to reproduce this issue

1. setup a new matrix user at app.element.io
2. give username and simple password
3. configuration with Env_Vars

### Expected behaviour

The given matrix-user can log into element-Web-client just fine.

### Actual behaviour

## Configuration

* Diun version : 4.13.0
* Platform (window

[2021-03-11 12:36] hugalafutro opened #299 "Notification for unupdated image"
## Behaviour
Getting notification for updated image of `docker.io/library/mongo:3` but when I go to update the container no new image to pull is available.

### Steps to reproduce this issue

1. Have Diun
2. Have docker.io/library/mongo:3 container
3. ???

### Expected behaviour

No notification for un-updated container

### Actual behaviour

Getting notification for image that is not updated.

##

[2021-03-11 17:41] dcasado opened #300 "Line break character on gotify secret"
## Behaviour

Secret created for gotify notifications have a line break character. I used secrets in more services and this has never happened. I also tried to create the secret from another system and the same appened.

When I go inside the container and do a cat of the secret, it doesn't show this character and there is a new line but I get the same behaviour with secrets from other services.

#

[2021-03-11 19:53] crazy-max commented on #300
@dcasado The reason your secret contains a new line `\n` is because the original string in your secret contains a new line. How do you create your secret?

[2021-03-11 20:02] crazy-max commented on #299
@hugalafutro

Yes please

[2021-03-11 20:57] dcasado commented on #300
I created it almost like that:

`echo "secret" | docker secret create diun_gotify_token -`

I'll try with `printf` to see if it does something different but the rest of my secrets were created with `echo` and work perfectly.

[2021-03-11 21:05] crazy-max commented on #300
@dcasado

Ok that's the issue, `echo` will add a newline. More info: https://docs.docker.com/engine/reference/commandline/secret_create/#create-a-secret

[2021-03-11 21:05] #300 closed

[2021-03-11 21:57] dcasado commented on #300
Didn't know that `echo` adds a new line at the end, thanks for that. I already created the secret with `printf`.

I was referring to secrets created and used by other services. As you said they seem to be trimming spaces and new lines without notice.

[2021-03-12 11:39] hugalafutro commented on #299
Turns out I've no idea how to turn on the debug logs, I assumed it'll be an environment variable or such but can't find any info in the documentation. Let me know how to enable the debug logs please.

[2021-03-12 11:47] crazy-max commented on #299
@hugalafutro https://crazymax.dev/diun/usage/cli/#environment-variables (`LOG_LEVEL=debug`)

[2021-03-12 11:52] hugalafutro commented on #299
Apologies for my apparent blindness. Log level set to debug, log caller enabled and now the long wait begins (It was roughly 1-2 months since it last happened).

[2021-03-12 12:37] crazy-max commented on #299
@hugalafutro Thanks, let me know when you have something for me. In the meantime I will take a look at the mongo image building process.

[2021-03-13 15:48] crazy-max commented on #299
As reference, here is the current manifest of `mongo:3`:

[code]

![image](https://user-images.githubusercontent.com/1951866/111035638-a3adec80-841b-11eb-9945-8a14864ade65.png)

[2021-03-13 20:36] crazy-max commented on #297
@sholl

Looks like your credentials are incorrect. Are you sure about the endpoint `https://matrix-client.matrix.org`? Tested myself with `https://matrix.org` and works fine.

[2021-03-14 09:46] sholl commented on #297
@crazy-max

thanks for your feedback. I should have been more precise in my initial report. I woks when providing
DIUN_NOTIF_MATRIX_USER= and DIUN_NOTIF_MATRIX_PASSWORD= as env-vars, but when excluding them to files and using DIUN_NOTIF_MATRIX_USERFILE= and DIUN_NOTIF_MATRIX_PASSWORDFILE= it fails with the above errror message.

I also tried without the :ro-mount-option with no success ether.

May

[2021-03-14 14:32] #294 closed

[2021-03-14 16:54] crazy-max commented on #297
@sholl Maybe the same issue as #300. Check if your file does not contain a newline ending. To be safe you should create your file like this: `printf "myusername" > ./userfile.txt`

[2021-03-15 14:14] sholl commented on #297
@crazy-max, Thanks, I will try your solution and give feedback soon.

[2021-03-15 15:46] derekoharrow opened #304 "Cannot use MQTT notification using Docker Compose Environment variables"
## Behaviour

### Steps to reproduce this issue

1. Configure DIUN MQTT notification using docker-compose environment variables instead of diun config file.
2. Start DIUN

### Expected behaviour

DIUN should start ok as usual

### Actual behaviour

DIUN fails to start and logs the errors shown below.

## Configuration

* Diun version : 3.13.0
* Platform (windows/linux) : Linux/Docker
* System info

[2021-03-15 15:53] derekoharrow commented on #304
I notice that DIUN does seem to start if you exclude the line:
`      - "DIUN_NOTIF_MQTT_SCHEME=mqtt"`

(which the documentation says is required).

[2021-03-15 16:07] crazy-max commented on #304
@derekoharrow Not yet deployed (https://github.com/crazy-max/diun/pull/292). The doc is based on master branch, not the latest release so in your case it should work with `crazymax/diun:edge` (master).

[2021-03-15 17:11] #304 closed

[2021-03-15 17:18] crazy-max commented on #304
@derekoharrow Should be ok now.

[2021-03-15 17:19] crazy-max commented on #294
@kireque Fixed, see https://crazymax.dev/diun/notif/telegram/#configuration for more info.

[2021-03-15 18:48] sholl commented on #297
just verified, using the ```printf``` method for creating userfile and passwordfile resolves the issue, as suggested in #300-

It would be nice documenting this behaviour somewhere. Anyway, thanks for this helpful tool though.

[2021-03-15 18:48] #297 closed

[2021-03-16 10:01] derekoharrow opened #306 "FEATURE REQUEST: Use diun.enable=false for WatchByDefault[true"
At present, you can set DIUN to either watch all containers by default, or to ignore all containers by default and only monitor those where diun.enable=true is set (i.e. watch all, or only watch specific containers).

It would be great to have the opposite also possible - watch all containers by default, but exclude and where diun.enable is set to false (i.e. watch by default, but allow exclusions

[2021-03-19 10:59] Punkado opened #308 "Run without access to /var/run/docker.sock"
Hello,
I know that for Diun to work, it need access to the docker.sock to check the image of the running container, but mounting the /var/run/docker.sock in a container is not something that i think is good idea, security wise.

For most of containers that need access to /var/run/docker.sock, like Traefik, i use [docker socket proxy](https://github.com/Tecnativa/docker-socket-proxy) to protect it.

[2021-03-19 11:04] crazy-max commented on #308
@Punkado

Yes you can change the endpoint: https://crazymax.dev/diun/providers/docker/#endpoint

[2021-03-19 11:11] Punkado commented on #308
Stupid me, i didn't see it in the documentation... I am sorry for that and thanks a lot.

[2021-03-19 11:11] #308 closed

[2021-03-22 12:35] agrider commented on #293
FYI, I continued to see this issue. I tried using the `include_tags` and `exclude_tags` options to significantly limit the scope of my watches but that did not seem to help reduce memory usage at all. I instead then removed all the `watch_repo` labels and only monitor the `latest` tags and now sit at about 26 MB of usage on the same number of labeled containers, so whatever the cause it appears to

[2021-03-22 12:44] crazy-max commented on #293
@agrider

Ok thanks for your feedback I will analyze this part.

[2021-03-28 22:48] steakhutzeee opened #310 "Cannot get remote manifest error="Cannot get image digest from HEAD request"
### Expected behaviour

Images should be checked.

### Actual behaviour

Sometimes i got this errors in the logs for most of my images, some checks go well, some not:

`WRN Cannot get remote manifest error="Cannot get image digest from HEAD request: Head \"https://ghcr.io/v2/linuxserver/mariadb/manifests/latest\": dial tcp: lookup ghcr.io on 127.0.0.11:53: read udp 127.0.0.1:33756->127.0.0.11:53:

[2021-03-28 23:34] crazy-max commented on #310
@steakhutzeee

Cannot reproduce, works fine for me. I don't think that's an issue with the registry (`ghcr.io`) or Diun but might be your Docker network (`my-net`). Also looking at the error (`dial tcp: lookup ghcr.io`), check your DNS.

[2021-03-28 23:34] #310 closed

[2021-03-28 23:49] steakhutzeee commented on #310
Diun is using a custom bridge network called my-net.
I use that network for the containers I want to resolve by names.Maybe the issue is there?Diun should stay on its separate network?

Never touched dns before on my server.

Maybe I should use a specified dns for my-net bridge network? I ll have a look at it.

[2021-03-28 23:53] crazy-max commented on #310
@steakhutzeee What is the output of `docker network inspect my-net`?

[2021-03-29 00:00] steakhutzeee commented on #310
'steakhutzeee@DK:~$ docker network inspect my-net
[
    {
        "Name": "my-net",
        "Id": "58e741b89d053b71e7f1939fa1933b266c0c77ff65f290d0a42a1c855ca076bc",
        "Created": "2020-07-31T01:14:05.417900638+02:00",
        "Scope": "local",
        "Driver": "bridge",
        "EnableIPv6": false,
        "IPAM": {
            "Driver": "default",
            "Options": {},
            "Co

[2021-03-29 00:02] steakhutzeee commented on #310
`steakhutzeee@DK:~$ docker network inspect my-net
[
    {
        "Name": "my-net",
        "Id": "58e741b89d053b71e7f1939fa1933b266c0c77ff65f290d0a42a1c855ca076bc",
        "Created": "2020-07-31T01:14:05.417900638+02:00",
        "Scope": "local",
        "Driver": "bridge",
        "EnableIPv6": false,
        "IPAM": {
            "Driver": "default",
            "Options": {},
            "Co

[2021-03-29 15:25] DerRockWolf opened #313 "No Discord notifications are being sent other than test-notif"
## Behaviour

### Steps to reproduce this issue

1. Startup the container with my `docker-compose.yml`
2. Wait
3. See issue

### Expected behaviour

### Actual behaviour

## Configuration

* Diun version : 4.14.0
* Platform (windows/linux) : linux
* System info (type `uname -a`) : `Linux hostname 5.4.0-1032-raspi #35-Ubuntu SMP PREEMPT Fri Mar 19 20:52:40 UTC 2021 aarch64 aarch64 aarch64 GNU/Linux

[2021-03-29 15:42] crazy-max commented on #313
@DerRockWolf

[`firstCheckNotif`](https://crazymax.dev/diun/config/watch/#firstchecknotif) is disabled by default. I think that's your issue. You can test with `DIUN_WATCH_FIRSTCHECKNOTIF=true`.

[2021-03-29 15:42] #313 closed

[2021-03-29 15:49] DerRockWolf commented on #313
Thanks for the quick reply. I'll test your suggestion.

If `firstCheckNotif` is disabled shouldn't I receive a notification on the next run?

That's also why I've set the cron to every 5 minutes.
Inside of the attached file I've included the first and second run.

[2021-03-29 16:38] crazy-max commented on #313
@DerRockWolf

Yes you should if an update is available.

`diun    | Mon, 29 Mar 2021 17:00:12 CEST INF src/internal/app/diun.go:166 > Jobs completed added=0 failed=0 skipped=0 unchanged=67 updated=0`

No updates as you can see so no notification will be sent.

[2021-03-29 17:00] DerRockWolf commented on #313
@crazy-max

I see. So Diun checks for new versions of the images and not if the images I'm using are outdated, did I got it right?

Would this be a feature that could be implemented or is this out of scope for this project?

[2021-03-29 19:43] crazy-max commented on #313
@DerRockWolf

Yes that's it.

See https://github.com/crazy-max/diun/issues/109#issuecomment-657039864

[2021-03-29 21:15] DerRockWolf commented on #313
Cool. Thanks for taking your time helping me and also thanks for building Diun 😄

[2021-04-01 23:05] steakhutzeee commented on #310
Actually after I set Cloudflare DNS for my OMV Nas I had no issues for a while.

Until now:

[code]

For some i still see the same error, for others an invalid status code.

Any idea what could be causing this?

[2021-04-02 13:00] crazy-max commented on #310
@steakhutzeee There was some issues yesterday on GHCR I think. WDYT @clarkbw?

[2021-04-02 13:35] clarkbw commented on #310
Yes. Some Azure DDOS caused an outage. I believe we statused the service.

[2021-04-02 13:40] crazy-max commented on #310
@clarkbw Yes that looks like it:

![image](https://user-images.githubusercontent.com/1951866/113420513-c3588500-93c9-11eb-9205-c77d775e5d8e.png)

[2021-04-03 06:29] Phontana commented on #272
@crazy-max I just tested the `edge` version and the issue is still there.

[2021-04-12 08:35] razvan-moj opened #322 "change env var DIUN_NOTIF_SLACK_WEBHOOKURL to annotations"
if multiple uses in a cluster want to receive update notifications, but to different Slack channels, it would be nice to have a way to specify the recipient per deployment/pod rather than - what we do now - run multiple instances of Diun, which seems wasteful.

[2021-04-14 10:19] LeighCurran opened #326 "Per container MQTT Topics"
Would it be possible to get per container MQTT topics?

This would allow for the container update state to be pulled into Home Assistant for example.

[2021-04-14 14:34] FischlerA opened #327 "Question: What happens when you watch the same repo twice?"
I just recently discovered Diun and was planning to start using it in my Kubernetes cluster.
I have the same pod running multiple times for different use cases in my cluster (oauth2 proxy) and i am unsure what will happen if i add these labels to both of my proxies.

[code]

Will i get notified for the same repository multiple times because i have multiple pods from different deployments with the

[2021-04-15 13:59] hugalafutro commented on #299
Well, took a bit of wait, but it happened again today (meanwhile it happened on different host with nginx, too but that host aint got debug logs enabled)

Here's the log from today's run. Got notification on telegram that mongodb updated, running `docker-compose pull` doesn't pull any new image, `docker-compose up - d` says all containers up to date.

[code]

[2021-04-15 14:44] TheSpad commented on #299
I haven't been able to capture logs but I've also seen this issue, specifically with mongodb. My instinct is that it's something to do with it having multiple RepoDigests. All of the other images I've spot checked only have a single digest.
[code]

[2021-04-15 19:27] travelg commented on #308
@Punkado Can you please share which minimum permissions docker socket proxy needs in order to work with Diun to check updates are available for specific container ? Thanks

[2021-04-15 20:59] Punkado commented on #308
Hello,

Sure, here is my docker-socket-proxy composer

  dockersocket:
    image: tecnativa/docker-socket-proxy
    container_name: proxy_socket
    privileged: true
    networks:
      - dockersocket
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      CONTAINERS: 1
      IMAGES: 1
      restart: unless-stopped

[2021-04-18 18:11] mr-bolle opened #328 "Telegram notif not sucessfull"
## Behaviour

### Steps to reproduce this issue

1. set Telegram notification token
2. run docker compose `docker-compose up -d`
3. run `docker exec -it diun diun --test-notif`

### Expected behaviour

I get a notification into the telegram chatbot. I try this token, with the official instruction. And with this test, i get a notification.

[code]

### Actual behaviour

I don't get any notification

[2021-04-19 16:22] crazy-max commented on #306
@derekoharrow `diun.enable=false` should already work.

[2021-04-20 11:45] derekoharrow commented on #306
Hmmm. Doesn't seem to be for me.

Here's my DIUN config (in docker compose):

[code]

Here's an extract of the docker compose for a container I don't want notifications for:

[code]

As you can see, I've specified **diun.enable=false**, but I still get notifications from diun about this container (and others) every day.

[2021-04-20 11:48] crazy-max commented on #306
@derekoharrow [`diun.enable` is a label](https://crazymax.dev/diun/providers/docker/#docker-labels) not an env var.

[2021-04-20 11:56] #306 closed

[2021-04-22 05:22] nearcatch opened #331 "Feature Request: Send notifications on different schedule than image checks"
I want diun to check for image updates every 6 hours to maximize the usage of the dockerhub rate limits, but I don't want to be notified every 6 hours if there are image changes. I just want to be notified once a day. I'd like to request a way for diun to just note the image changes internally and then send notifications just once a day (or any user defined schedule). Thoughts?

[2021-04-22 11:56] crazy-max commented on #327
@FischlerA

Yes you will get notified once per image.

[2021-04-22 11:56] #327 closed

[2021-04-22 11:57] crazy-max commented on #326
Similar too #322

[2021-04-22 11:58] crazy-max commented on #322
@razvan-moj Yes we could allow notifiers per containers through labels/annotations.

[2021-04-22 12:03] crazy-max commented on #328
@mr-bolle

Your token and chat ID looks wrong.

Your chat ID looks wrong. Should be smth like `-1001234567890`.

See [the doc](https://crazymax.dev/diun/notif/telegram/) to create Telegram Bot.

[2021-04-22 12:03] #328 closed

[2021-04-22 12:38] mr-bolle commented on #328
Hi @crazy-max,

i change the value into this description.
Before i wrote this issue, i double check the credentials from this Bot. Over a debian docker container, and i receive a message.

In this case the chatID is `1715820179`

i try also to create a other Bot, with a token - and diun don't send any messages.
[code]

[2021-04-22 12:56] Nico83500 opened #332 "Use multiple networks"
Hi,
First thank you for this app :)
I would like to use 2 differents networks :
- An internal network to communicate between the socket proxy
- An external network to communicate to the web (to get docker hub access, updates, send notif, etc...)
Is there a way to indicate which network to use to external communications ? Or is it possible to add a feature to do that ?
Thank you !

[2021-04-23 22:55] buxm opened #334 "Docker.io - Requested access to the resource is denied"
## Behaviour

Access denied to docker.io. HTTP 401 Error when trying to check for image updates (getting image digest).

### Steps to reproduce this issue

1. Use docker-compose.yml pasted below
2. Run command:
`docker-compose run --rm diun --log-level="debug" --log-caller --log-nocolor`

### Expected behaviour

Diun successfully checks for any updates in my running containers labeled diun.enable=

[2021-04-23 23:25] crazy-max commented on #334
@buxm Can you give me the output of `docker ps --no-trunc` please?

[2021-04-24 11:52] buxm commented on #334
Please see the output below
[code]

Many thanks!

[2021-04-24 16:33] crazy-max commented on #334
@buxm

Thanks. Would also need output of `docker version` a,d `docker info`.

[2021-04-24 16:35] #326 closed

[2021-04-24 16:40] buxm commented on #334
[code]
[code]
Many thanks

[2021-04-24 17:03] crazy-max commented on #334
@buxm Ok looks like a pretty old version of Docker but it should work with the current API. Maybe dangling images are not detected in this case. Can you give me the output of the following commands:

* `docker image inspect sha256:d45cf22646bd0077faf2a603bafda13d438a8b45aa69a11d39456e5bd73131e8`
* `docker image inspect sha256:5bb9814f6a74816c662ff5da72110417d6d3b003d2ce42aa516a40ec8714e8e4`
* `doc

[2021-04-24 17:16] buxm commented on #334
Yes. Unfortunately Synology doesn't seem to update very often their Docker package for their DiskStation NAS devices, so this is the latest available for me.

Pease see the output of the 3 commands in the attached file.
[imageinspect.log](https://github.com/crazy-max/diun/files/6370210/imageinspect.log)

Many thanks.

[2021-04-24 22:28] #334 closed

[2021-04-24 22:50] crazy-max commented on #334
@buxm Can you test with `crazymax/diun:edge`?

[2021-04-25 10:25] buxm commented on #334
Hi, here is the outcome:
[code]
So now it runs without errors :-)

However apparently it has identified /jacobalberty/unifi, /pihole/pihole and /plexinc/pms-docker as new images and only /containrrr/watchtower as an updated image.
Then I received only 2 notification emails about "Image update for docker.io/containrrr/watchtower:latest" and "New image docker.io/crazymax/diun:edge has been added". H

[2021-04-25 13:22] crazy-max commented on #334
@buxm

Notifications are not sent on very first analysis of an image. You can change this behavior with [`firstCheckNotif` setting](https://crazymax.dev/diun/config/watch/#firstchecknotif) but if an update is available next time you will be notified anyway.

[2021-04-25 13:41] buxm commented on #334
Ok, I have now set firstCheckNotif to true and deleted diun.db. After nunning diun, I get notified that all my images have been added... but not that there is an update for some of them, as I was hoping for. Anyway I'll wait for the next time any of my images is updated and see how it goes.
Many thanks for helping on this.

[2021-04-25 13:45] crazy-max commented on #328
@mr-bolle Don't forget to add your bot to your channel.

[2021-04-25 15:53] mr-bolle commented on #328
Now i found the issue, i have to use the API Token
and should get the ChatIDs if i send the message (into the BOT Chat) `@getidsbot`

[code]

[2021-04-25 18:29] crazy-max commented on #293
@agrider Let me know if latest release solves this issue. Otherwise please enable memory profiler using [`--profiler mem` or `PROFILER=mem` env var](https://crazymax.dev/diun/usage/cli/#options). Profiling files will be available in [`/data` folder](https://crazymax.dev/diun/config/db/#path).

[2021-04-25 18:29] #293 closed

[2021-04-25 20:25] buxm opened #340 "--profiler flag mandatory from 4.15.0"
## Behaviour
Apparently `--profiler` flag has become mandatory from 4.15.0. However this does not appear to be so in the documentation. Also it is not clear to me what this flag is for... it looks like an option for profiling the code, hence something quite developer/troubleshooting oriented, not for day to day use.... but not quite sure.

### Steps to reproduce this issue

1.Use docker-compose.ym

[2021-04-25 20:54] #340 closed

[2021-04-25 21:14] crazy-max commented on #340
@buxm Thanks for your feedback. Should be fixed with latest release.

[2021-04-25 21:19] buxm commented on #340
Many thanks! Yes it works now.

[2021-04-26 10:11] TheSpad opened #342 "Supress duplicate image notifications"
## Behaviour

If you have two or more containers using the same image you recieve two or more notificatios for a new version of the image being available

### Ideal behaviour

An option to only recieve a single notification per image regardless of how many containers are using it. Apologies if I've missed an easy way to do this without having to micromanage container labels.

[2021-04-26 11:38] TheSpad opened #343 "Profiler volume enforced even when unused or path changed"
## Behaviour

Profiler volume is defined in the [Dockerfile](https://github.com/crazy-max/diun/blob/master/Dockerfile#L45) which means that even if it's not used, or the path is changed to something other than /profiler, docker creates a volume for that path.

### Steps to reproduce this issue

1. Start diun without a host mount for /profiler, or change the path using `PROFILER_PATH`
2. Inspect th

[2021-04-26 14:02] #343 closed

[2021-04-28 10:23] XPlantefeve opened #346 "Update FAQ for DockerHub limits"
Stress the importance of max_tags, include_tags, and exclude_tags in the DockerHub limits section of the FAQ.

By default, DIUN seems to downloads manifest for each and every tagged version ever released. For active/old projects, it can be hundreds of manifests, hitting the rate limits of DockerHub easily. It might be useful to add a note to that effect to the relevant section of the fact: one doe

[2021-04-28 12:21] XPlantefeve commented on #346
Aaaand, it appears that I was wrong in my assumptions: DIUN is not downloading hundreds of manifests by default. It just happened because I followed the example on https://crazymax.dev/diun/providers/docker/ without understanding what watch_repo=true meant.

I'm not closing this ticket myself because I still think that a warning somewhere in the documentation could be a good idea. If only a notice

[2021-04-28 20:44] crazy-max commented on #346
@XPlantefeve

Yes that's it

Sure I will make a note about that.

[2021-04-28 23:03] #346 closed

[2021-04-29 15:52] zilexa opened #349 "[Question adding update/recreate feature, based on label or argument"
I considered using Pullio for notifications since it also optionally allows updating and only 6 of my 26 containers would qualify for auto-updates. But Pullio has no email notifications. Your email notification is indeed beautiful..

That is why I wonder and would like to ask if you would consider adding a feature to optionally (not by default ) update images if a new version is available and if a

[2021-04-29 16:05] crazy-max commented on #349
@zilexa https://github.com/crazy-max/diun/issues/2#issuecomment-500403408

[2021-04-29 16:05] #349 closed

[2021-04-29 16:15] #262 closed

[2021-04-29 19:23] sadmin91 opened #350 "Error "No such image" for some images on Swarm"
## Behaviour
I have installed Diun on my Docker Swarm cluster.
With the last version (4.15.2), when Diun analyze start (on container startup or on schedule), error "No such image" appears for some images on my Swarm services (no error with image on my file provider).

### Steps to reproduce this issue

1.Deploy Diun on Swarm cluster

### Expected behaviour

No error should appears

### Actual beha

[2021-04-29 19:30] crazy-max commented on #350
@sadmin91 I guess Diun can't find the image because it's deployed on the manager and the analyzed containers are on the workers. Will find a better way to handle that. Thanks for your feedback.

[2021-04-30 02:12] #350 closed

[2021-04-30 09:13] crazy-max commented on #350
@sadmin91 Should be fixed with latest release

[2021-04-30 11:21] sadmin91 commented on #350
@crazy-max it's works fine with version 4.16.1.
Many thanks for this quick fix.

[2021-05-01 17:45] mrclschstr opened #356 "[INFO] "Error pinging docker registry registry-1.docker.io" on Raspberry Pi 3"
First of all: Thanks for your work on diun!

I have more of an info than an issue here for other fellow sufferers. I'm running the diun docker container on a Raspberry Pi 3 (linux/arm/v7). I was experiencing the same issues mentioned in #285: `Cannot get image digest from HEAD request: error pinging docker registry registry-1.docker.io`. I could not ping other domains as well.

I finally found the

[2021-05-01 23:52] crazy-max commented on #356
Yes indeed you need at least libseccomp2 2.4.2 and Docker 19.03.9.

[2021-05-01 23:58] SimplicityGuy opened #357 "Allow use of either docker config.json or GitLab token"
## Behaviour
There doesn't seem to be a way to use the Docker config.json file (that already contains credentials for other registries) or using the GitLab token to access private registries.

### Expected behaviour
I expect to be able to use my private GitLab registry.

[2021-05-02 20:58] snakuzzo opened #358 "Diun creates diun.db directory"
## Behaviour

Container terminated after few seconds.
profiler creates a `/data/data.db/` directory and later it try to open db `/data/diun.db`

### Steps to reproduce this issue

1. Just create the container with my config

### Expected behaviour

### Actual behaviour

## Configuration

* Diun version :
* Platform (windows/linux) : linux
* System info (type `uname -a`) : Linux TS-251D 4.14.24-qna

[2021-05-02 21:07] crazy-max commented on #358
@snakuzzo This has been fixed. Please upgrade to latest release (4.16.1).

[2021-05-02 21:07] #358 closed

[2021-05-04 05:21] kireque commented on #322
This option would be very useful for me!
At the moment I use MQTT but everything is published in the same topic. Would be great if there was a separate topic for each container.

[2021-05-04 19:47] buxm commented on #334
I have now got notified of an update available on one of the previously problematic images.
So I can confirm the fix appears to be working.
Many thanks

[2021-05-10 17:36] airdogvan opened #365 "Confused about watch_repo label"
Not sure I understand the purpose of watch repo.

If I use that label for something like Nextcloud (which has literally hundreds of versions) for instance every time the script runs it of course does hundreds of pulls from the repo with the consequence that on the next container the script checks I get the message "number of pulls exceeded" since docker hub now limits the number of pulls/day.

If

[2021-05-10 17:58] crazy-max commented on #365
@airdogvan

Indeed if the target repository contains a lot of tags it will affect your rate limit. What you can do is to allow a maximum number of tags to be scanned with the [`max_tags` label](https://crazymax.dev/diun/providers/docker/#docker-labels).

If you don't use the `watch_repo` label, then you will be notified on changes for the actual tag of the image (latest if not defined).

[2021-05-10 22:36] crazy-max commented on #365
@airdogvan

If you watch an image with an immutable tag like `alpine:3.13.5` (often semver) you will not be notified if a new tag `alpine:3.13.6` is created because you don't watch the repository.

Thanks glad you like it :)

[2021-05-10 22:36] #365 closed

[2021-05-13 00:34] mandarons opened #376 "image scanning on self-hosted docker registry using http endpoint fails"
## Behaviour

### Steps to reproduce this issue

1. Self-host docker registry using image: `registry:2` at e.g. http://my-server:5000/
2. Have a container created using image hosted at http://my-server:5000/
3. See below error in `diun` container log

WRN Cannot get remote manifest error="Cannot get image digest from HEAD request: error pinging docker registry my-server:5000: Get \"https://my-serv

[2021-05-13 18:15] crazy-max commented on #357
@SimplicityGuy [Not yet implemented](https://github.com/crazy-max/diun/blob/1491bf0833e51c2515e8a6b661397ddb8109df2d/pkg/registry/manifest.go#L34-L39). You have to use the [registry options](https://crazymax.dev/diun/config/regopts/).

[2021-05-13 18:16] #356 closed

[2021-05-13 18:17] crazy-max commented on #331
@nearcatch #10

[2021-05-13 18:17] #331 closed

[2021-05-13 18:20] crazy-max commented on #376
@mandarons You have to specify the [registry options](https://crazymax.dev/diun/config/regopts/). Something like this should work:

[code]

[2021-05-14 02:03] muxa commented on #10
They way I'd like to reduce notifications is to not report irrelevant tags. Currently in reports all tags.

What I'd like to see if only report changes to the tag that my container is based on, e.g. `latest`. I don't want to see `edge` or `dev` etc.

To make notification more meaningful is to list all tags that match the SHA. For example my imaginary container running `latest` tag, which also has

[2021-05-14 14:39] mandarons commented on #376
It worked! thanks.

[2021-05-14 14:39] #376 closed

[2021-05-21 16:49] agrider commented on #293
I've been testing for a bit now with watch_repo turned back on and indeed, the new version uses a much more appropriate amount of memory. Thanks!

[2021-05-26 16:18] #138 closed

[2021-05-26 18:56] crazy-max commented on #138
@Vorsku @richardneish Available in latest release. Let me know if it looks good to you.

[2021-05-27 09:24] accountForIssues commented on #299
I think @TheSpad might be right. I can confirm the same issue on images such as mariadb, nextcloud-fpm-alpine, caddy-alpine and some others.

On docker hub, I see that the image was updated i.e `Last pushed xx hours ago` but docker-compose doesn't detect an update or pull the image so I'm assuming some non-essential metadata was updated (I'm not too well versed on how it works).

I'm assuming the

[2021-05-27 09:27] crazy-max commented on #299
Thanks for your feedback, will find a fix for that. Keep you in touch.

[2021-05-31 07:14] Miwer opened #392 "upgrade to 4.17 - diun does not start when installed as a portainer stack"
## Behaviour

### Steps to reproduce this issue

1.  Install diun with docker-compose or upgrade from previous version to 4.17

### Expected behaviour

### Actual behaviour

## Configuration

* Diun version : 4.17
* Platform (windows/linux) : linux
* System info (type `uname -a`) :  Linux (redacted) 5.4.114-1-pve #1 SMP PVE 5.4.114-1 (Sun, 09 May 2021 17:13:05 +0200) x86_64 GNU/Linux

[code]

###

[2021-05-31 08:14] customizeXF commented on #392
Same issue here after updating to the latest version.

[2021-05-31 08:21] crazy-max commented on #392
@Miwer @customizeXF Cannot reproduce on my side. What's the output of `docker info`?

[2021-05-31 08:32] Miwer commented on #392
I don't actually run docker-compose, I use portainer to create a stack with the compose file posted above, but portainer is deploying it with docker-compose as stated in the screenshot.
![portainer](https://user-images.githubusercontent.com/145515/120164996-6a577280-c1fb-11eb-87c7-afe62a73a0a2.png)

Here's my docker info:
[code]

[2021-05-31 08:34] crazy-max commented on #392
@Miwer Thanks for your feedback. Can you give me the output of `docker inspect diun` and `docker-compose config` please?

[2021-05-31 08:47] Miwer commented on #392
docker-compose config just gives me the same compose file as I posted above.
Here's my docker inspect diun:

[code]

[2021-05-31 08:54] Miwer commented on #392
I can also see the "serve" command in the image details, but somehow it is not registering.... ?!

![Screenshot_2021-05-31 Portainer local](https://user-images.githubusercontent.com/145515/120167802-7690ff00-c1fe-11eb-8d15-da1f20011846.png)

[2021-05-31 08:54] crazy-max commented on #392
@Miwer Ok looks like Portainer overrides the CMD definition which is bad: `"Cmd": null`. It should be the [same as the one in the Dockerfile](https://github.com/crazy-max/diun/blob/8855fbe228794f00d981eff39921731211b32457/Dockerfile#L47).

[2021-05-31 08:58] crazy-max commented on #392
I've created a stack myself on Portainer and works fine:

![image](https://user-images.githubusercontent.com/1951866/120168323-059e1700-c1ff-11eb-8444-a4d2fb8c3b04.png)

![image](https://user-images.githubusercontent.com/1951866/120168356-0fc01580-c1ff-11eb-8426-f9a464b82811.png)

![image](https://user-images.githubusercontent.com/1951866/120168447-22d2e580-c1ff-11eb-8110-07c7200e1906.png)

What v

[2021-05-31 09:07] Miwer commented on #392
@crazy-max is it really running though?
Mine says "running" too, but when I look at the logs, I see the error complaining about missing command:

![diun-running](https://user-images.githubusercontent.com/145515/120169447-40ed1580-c200-11eb-83a1-d384f014ad43.png)
![diun-logs](https://user-images.githubusercontent.com/145515/120169460-42b6d900-c200-11eb-9672-435a52d221c9.png)

I use portainer 2.1.1

[2021-05-31 09:09] crazy-max commented on #392
@Miwer

2.1.1 too

![image](https://user-images.githubusercontent.com/1951866/120169770-93c6cd00-c200-11eb-94f6-5ac7d50baf8b.png)

[2021-05-31 09:10] crazy-max commented on #392
@Miwer In the meantime you can force the `command` field:

[code]

[2021-05-31 09:16] Miwer commented on #392
Well, I tried deleting the stack and container, and recreating it, with the same compose file (no command line), and now it works, oddly enough.

[2021-05-31 09:18] Miwer commented on #392
So I'm not sure of the conclusion here... re-create the stack to make it work, or just add the command line, which might also work, I cannot say for sure. Too late to test for me now :)
It's working here, thank you for your help @crazy-max

[2021-05-31 09:19] #392 closed

[2021-05-31 09:20] customizeXF commented on #392
I have Portainer version 2.5.1 and just updated the stack with `command: serve` and all works fine now.

Thank you, @crazy-max

[2021-05-31 09:22] rusty1281 commented on #392
I on the other hand update Portainer 2.5.1 and DIUN 4.17 at the same time the other day and had 0 problems. Same stack, simple update, all went fine.

[2021-05-31 09:23] customizeXF commented on #392
Interesting.

[2021-06-02 20:52] crazy-max commented on #299
@hugalafutro @TheSpad @accountForIssues I've pushed a quick fix through #396. Can you test with `crazymax/diun:pr-396` and let me know if this issue occurs again? Thanks.

[2021-06-04 07:41] J-o-h-n-M opened #398 "Container wont start with latest Docker image"
## Behaviour
When the container tries to start, it stops straight away.
Log says "diun: error: expected one of "serve",  "image",  "notif""

### Steps to reproduce this issue

1. Start container
2.
3.

### Expected behaviour

### Actual behaviour

## Configuration

* Diun version :
org.opencontainers.image.version | 4.4.1

[2021-06-04 07:48] #398 closed

[2021-06-04 07:50] J-o-h-n-M commented on #398
I added serve as command an recreated the container. But cant really find what "serve", "image", "notif" does as a command.

This page https://crazymax.dev/diun/usage/command-line/ says to use serve for every other command. Which is quite confusing.

[2021-06-04 07:58] TheSpad commented on #299
@crazy-max with `pr-396` I don't seem to be getting *any* notifications with the exception of an initial "image has been newly added" for diun itself. I've got half a dozen images that I know have been updated since I started using the new version and none of them have trigged a notification and just show as Unchanged.

I foolishly didn't have debug logging turned on, which I've done now, so I'll

[2021-06-04 08:04] hugalafutro commented on #299
Hi, I too am running `pr-396`, I just restarted the container to see if I get any notification, I got notification for `radarr`, but when I went  to do `docker-compose pull` to each of my stacks, `syncthing` was also updated, however diun did not send notification.

logs from the restart run:
[code]

[2021-06-04 08:33] TheSpad commented on #299
So I've turned on debug logging and I've now had *a* notification for phpmyadmin but the "old" digest it's comparing against doesn't match any phpmyadmin image I have locally.
[code]
[code]
"Old" manifest according to diun: `sha256:ba2f6849f8f57e0bd480ddb4ee1b7f8558df7ad0440890c0ddb8736cc0e1f012`

New manifest according to diun `sha256:8a7e3b952cf72d11ae7ebf1a28aaea3e787cc7bd7faec476d84f5bb49554dc

[2021-06-04 08:59] TheSpad commented on #299
Here's an updated image (published ~15 minutes ago) that it doesn't seem to be recognising
[code]

[2021-06-04 14:56] accountForIssues commented on #299
@crazy-max I can confirm the same as others. Notifications are not fired even if they are updated.

The nextcloud image I use was updated a few hours ago today before I pulled `pr-396` and here is the result.

Starting `diun:pr-396` and relevant logs:
[code]

Hash `290c8059a3be2680625b495db5b8695fcf108ddfd0cc4a6330f13666680a0614` is of the latest updated image. I'm assuming diun considers this as

[2021-06-06 05:03] crazy-max commented on #299
Ok I think I get it now. The digest retrieved through HEAD request by Diun is actually the manifest list digest (if available). So in this case if a manifest is added/updated in the manifest list, the digest of the manifest list will be updated and Diun will send a notification.

[code]

To fix this we have to check first if the manifest has the `application/vnd.docker.distribution.manifest.list.v

[2021-06-07 06:57] cybermcm opened #399 "warning messages: Cannot get remote manifest StatusCode: 404"
## Behaviour
checking 2 images for updates, one working the other one produces warning messages

### Steps to reproduce this issue
checking repository -> warning messages every time

### Expected behaviour
no warning or advice how to solve warning

### Actual behaviour
warnings in log file, probably caused by watched image? e.g.
`WRN src/internal/app/job.go:181 > Cannot get remote manifest error="

[2021-06-07 07:26] crazy-max commented on #399
@cybermcm Docker tag `docker.io/funkyfuture/deck-chores:1.0-rc1` does not exist on [Docker Hub registry](https://hub.docker.com/r/funkyfuture/deck-chores/tags?page=1&ordering=last_updated).

[2021-06-07 07:26] #399 closed

[2021-06-07 08:19] cybermcm commented on #399
@crazy-max Thank you for your fast reply!
Just for understanding, there are tags in the repository with no manifests. This has to be cleaned by the image maintainer, am I right?

[2021-06-07 17:54] crazy-max commented on #299
After opening containers/image#1246 to be able to get the digest matching a specific platform, it happens that the registry will only [return the digest for `linux/amd64` platform](https://github.com/distribution/distribution/blob/6affafd1f030087d88f88841bf66a8abe2bf4d24/registry/handlers/manifests.go#L28-L29). If I take the following manifest list:

[code]

And retrieve the digest without `applic

[2021-06-07 19:50] milosgajdos commented on #299
`HEAD` requests do not add up to `rate-limit` so you should be able to shoot as those over freely.

[FAQ](https://docs.docker.com/docker-hub/download-rate-limit/#definition-of-limits):

[2021-06-07 20:46] crazy-max commented on #299
@milosgajdos

Yes Diun already does that but my point is about retrieving the digest's manifest matching a specific platform from a manifest list with a `HEAD` request which is [hardcoded to `linux/amd64` platform](https://github.com/distribution/distribution/blob/6affafd1f030087d88f88841bf66a8abe2bf4d24/registry/handlers/manifests.go#L28-L29) afaik. So the only solution atm would be to check if t

[2021-06-08 08:52] milosgajdos commented on #299
@crazy-max Sorry, I've misunderstood your question 🙈 I'll try to get back to you on this later on. As for the extra header suggestion -- it's a good question whether introducing an extra header is the right way to go about this. I'd have to give it a proper think.

[2021-06-11 22:20] mtrmac commented on #299
(I know basically nothing about the code.) Shouldn’t it be possible to:
- initially (compare the code paths that reach https://github.com/containers/image/blob/main/copy/copy.go `image.FromUnparsedImage` in `copyOneImage`; almost all of the code there can be dropped, just follow those values)
  - read the raw manifest, determine if it is a manifest list or a single-arch manifest
    - if it is a m

[2021-06-12 06:35] crazy-max commented on #299
@mtrmac

Raw manifest is not stored in db atm but I have made a [recent change to store it](https://github.com/crazy-max/diun/pull/391) so I will be able to handle that on next release.

Yes this is my [main concern](https://github.com/crazy-max/diun/issues/299#issuecomment-856245591).

[This is only done](https://github.com/crazy-max/diun/blob/62215197f2d8dae539b2754a34574a4514969eba/pkg/registry

[2021-06-13 11:49] rugk opened #404 "Threema (Gateway) reporting/notification"
https://gateway.threema.ch/ allows you to be notified via Threema.

Here is the API doc: https://gateway.threema.ch/en/developer/api
The advantage is you can also send e2e-encrypted messages.

As for a Go library I could only find this:
https://github.com/coffeemakr/threema

[2021-06-14 21:44] crazy-max commented on #299
@hugalafutro @TheSpad @accountForIssues I've pushed a new fix through #406. Can you test with `crazymax/diun:pr-406` and let me know? Thanks.

[2021-06-14 23:13] hugalafutro commented on #299
I've updated the container to `diun:pr-406`, but I guess I don't really have anything useful to report until `mongo:3` updates as that is the only image it happens regularly on for me. The technical discussion in previous post goes way past what I know of docker.

Restarting the container with pr-406 reported 1 new image (itself) and 3 updated images (which were indeed updated). I've checked all o

[2021-06-14 23:20] crazy-max commented on #299
@hugalafutro Ok thanks for your feedback. Will wait if you encounter this issue with `mongo:3` in the future then.

[2021-06-15 08:12] TheSpad commented on #299
Running the PR image now so we'll see how it goes.

[2021-06-16 14:39] TheSpad commented on #299
@crazy-max just got a notification for postgres:12-alpine (on x86_64).
[code]
But
[code]
And
[code]
Finally
[code]

[2021-06-16 16:40] crazy-max commented on #299
@TheSpad Yes it might occur because `manifest.Raw` is not filled for the current manifest in the database to be able to compare the actual manifest's digest matching your platform. But next time it should be ok.

[2021-06-17 08:00] TheSpad commented on #299
Good news, I've not had any notifications for them from diun, but another tool that also checks for updates is flagging a bunch of library images as needing updates (traefik, nginx, and redis) - and a pull attempt confirms they haven't actually been updated, so it looks like the fix is working correctly.

[2021-06-17 13:08] crazy-max commented on #299
@TheSpad Great, thanks for your feedback!

[2021-06-17 13:20] #299 closed

[2021-06-17 22:12] #357 closed

[2021-06-19 13:11] laurentlbm commented on #64
It would be very helpful if notifications included a link to the change log of the release. Unfortunately, that info doesn't seem readily available on docker hub, so a custom message with a link to the GitHub/website of the image would be an ok compromise.

[2021-06-19 15:49] crazy-max commented on #64
Working on it for the next release. You will be able to customize the title and text of the message globally as well as for each notification providers. This will be limited to markdown and html rendering for the moment. The JSON or ENV output cill remain immutable.

[2021-06-25 21:24] #64 closed

[2021-06-25 22:22] crazy-max commented on #64
You can test this feature with `crazymax/diun:edge`. Documentation for each notifiers can be found [here](https://github.com/crazy-max/diun/tree/master/docs/notif).

Example with `mail`:

[code]

Documentation about notification template: https://github.com/crazy-max/diun/blob/master/docs/faq.md#notification-template

[2021-06-27 07:41] zilexa opened #417 "Notification message not clear enough"
## Behaviour
Running diun monthly, I get emails per image that has been updated. 2 questions:
1) It says the image has been updated on [name of my server]. I suppose it means diun has downloaded a newer version for me. If I would recreate the container (manually), it would use the newer image, correct?
2) I can't find the reported digest. For example, diun ran this morning:
_Diun 🔔 notificationDoc

[2021-06-27 07:59] crazy-max commented on #417
@zilexa

No Diun will not pull the image but notify about updates only.

The reported digest is the manifest list one, not the actual matching your platform (`linux/amd64`):

[code]

[2021-06-27 08:33] zilexa commented on #417
OK regarding the reported digest: makes sense.

`No Diun will not pull the image but notify about updates only.`

In that case, isn't the email body text incorrect?

Nothing has been updated on Obelix..

[2021-06-27 09:12] crazy-max commented on #417
Yes I think this message should be changed to clearly explain that an update for the image is available.

[2021-06-27 11:34] zilexa commented on #417
Perhaps something like: for [servername], [imagename] a new image/an updated image has become available via [providername].

[2021-06-27 11:37] zilexa opened #418 "[suggestion] single email per DIUN run"
In an effort to reduce the number of notification emails, it would be nice if it was possible to configure diun to sent out a single email/create a single email body that contains the update messages, instead of an email per image/container. An email per DIUN run basically.

What do you think?

[2021-06-27 14:52] crazy-max commented on #418
#10

[2021-06-27 14:52] #418 closed

[2021-06-27 14:53] crazy-max commented on #417
@zilexa You can change the [title/body of the message](https://crazymax.dev/diun/notif/mail/#configuration) since Diun 4.19.0 if you want.

[2021-06-30 09:21] paddatrapper opened #423 "Kubernetes deployment should use args and not command"
## Behaviour

### Steps to reproduce this issue

1. Deploy Kubernetes using https://crazymax.dev/diun/providers/kubernetes/#quick-start

### Expected behaviour

The pod should deploy and run successfully.

### Actual behaviour

It fails to find binary 'serve' in $PATH. This is because the Deployment spec uses

[code]

This should be:

[code]

## Configuration

* Diun version : 4.19.0
* Platform (w

[2021-06-30 09:45] crazy-max commented on #423
@paddatrapper Thanks for your feedback, feel free to open a PR.

[2021-06-30 10:42] paddatrapper commented on #423
Sure, just not sure if the other references in #393 need to be updated too

[2021-06-30 13:19] crazy-max commented on #423
Others are ok.

[2021-07-03 19:30] blkbrd12 opened #425 "FTL Cannot initialize Diun error=timeout"
## Behaviour

### Steps to reproduce this issue

1. Console into container
2. Run Diun serve command

### Expected behaviour

I would expect to see a success message saying  service was started.

Receiving error: FTL Cannot initialize Diun error=timeout

## Configuration

* Diun version : 4.19.0
* Platform (windows/linux) : Linux, Docker container running in Synology NAS
* System info (type `uname

[2021-07-04 06:17] #425 closed

[2021-07-04 19:06] #423 closed

[2021-07-16 06:40] hsz1273327 opened #435 "raise excpetion "no locks available""
## Behaviour

Init error when using diun in swarm.

## Configuration

* Diun version :  4.19.0,4.18.0 4.16.1
* Platform (windows/linux) : arm64/linux(raspberry pi with 64 bit ubuntu  20.04 TLS)

[code]

`diun-data` is a nfsv3 volume and the `duin.db` can be created in it.

### Logs

[code]

[2021-07-19 17:14] GeoCookie opened #438 "Notification - Choose between new image or updated image"
Hi,

Is there a way to only get notified when a new image is available and not when an image has been updated (or vice versa)?

Thank you for your work !

Cheers

[2021-07-19 18:10] crazy-max commented on #438
@GeoCookie

No but it's a good idea

[2021-07-20 12:18] norsemanGrey commented on #438
Sorry for noob question, I am probably missing something here. For a specific image what is the difference between a **new** image and and **updated** image? Would you not just have updated versions of an image?

[2021-07-20 15:10] crazy-max commented on #438
@norsemanGrey

If you watch all tags for an image (`watch_repo` opt) then you can have a "new image" notification when a new tag is pushed.

[2021-07-20 18:19] GeoCookie opened #441 "More tags for Diun image"
Hi there,

Currently, beside edge and latest, we only got specific tags with major, minor and patch number.
It could be usefull having tags with only major/minor version and major version.

Some providers uses this model
graylog/graylog
mongo

[2021-07-21 08:53] norsemanGrey commented on #438
Ok, I think I see. So a new image is the release of a new tag for that image while an update is an new version of an image with a specific tag?

[2021-07-23 17:28] oliroe opened #443 "RSS feed rather than notification"
Hi

Would it be possible to have an RSS feed for changes rather than sending a notification?

Thanks

[2021-07-25 01:49] waiwaing opened #444 "Dockerfile parsing broken with buildkit v0.9.0"
As of [3b9a36](https://github.com/crazy-max/diun/commit/3b9a365c47abbcff672751c6b8354296b963acf0) which upgraded buildkit to 0.9.0, Dockerfile parsing is broken and the Dockerfile provider does not detect any images to analyze. This does not affect any released versions of Diun.

This is because the buildkit parser AST no longer lowercases the command name - see [buildkit 768a12](https://github.co

[2021-07-25 01:57] crazy-max commented on #444
@waiwaing Oh thanks for testing the edge release! Feel free to open a PR sure!

[2021-07-28 07:22] DTM450 opened #446 "Cannot load configuration"
## Behaviour

### Steps to reproduce this issue

1. Use below configs in portainer

### Expected behaviour

### Actual behaviour

## Configuration

* Diun version: 4.19.0
* Platform: Windows
* System info: `Linux DTM-PC 5.4.72-microsoft-standard-WSL2 #1 SMP Wed Oct 28 23:40:43 UTC 2020 x86_64 Linux`

version: "3.8"

services:
  diun:
    image: crazymax/diun:latest
    container_name: Diun
    com

[2021-07-29 06:28] DTM450 commented on #446
This is not an issue with Diun but an issue regarding my docker/portainer setup on WSL 2

[2021-07-29 06:28] #446 closed

[2021-07-30 12:22] GenesisAdam opened #448 "Help setting up email notification."
I am unable to get the email notification working using docker compose. Looks like I am missing something. The installation instructions are not very clear on using docker compose to set up diun especially where to put the email templates.
I have set up a dium.yaml:
`notif:
  mail:
    host: mail.ebony.com
    port: 25
    ssl: false
    insecureSkipVerify: false
    from: ory@ebony.com
    to: ox

[2021-08-02 11:27] romualdvilletet opened #450 "feature-request: Allow multiple notif mail to addresses"
Hi,

I would love to have support for sending notifications to multiple mail addresses.

Currently, I added a mailing list address but this mail list is getting too big and confuses some people.
For me, it would be nice to have the possibility to define a comma or semicolon-separated list of mail addresses.

Or maybe someone has a better suggestion. Maybe it adds too much complexity to the validat

[2021-08-06 19:34] oliroe opened #454 "Incorrect number of hours until next scan stated in log"
Cron job set to run every 6 hrs but the log states the next run will be in 5. The scan is running in 6hrs as expected though

![image](https://user-images.githubusercontent.com/4500141/128562595-ad07d91f-4623-463f-b9f9-07842549ed0b.png)

[2021-08-13 23:02] ebbeknudsen commented on #114
I definately agree with this. When subscriping to something like the _latest_ tag, it's really important to know whether I'm just bumping from diun:**4.18** to diun:**4.19**, or if I'm updating to **diun:5:0**. This feature would be much appreciated. Is there any techical reason it's not implemented, or is it just a time issue? :).

[2021-08-18 21:19] crazy-max commented on #448
Please format your post correctly: https://guides.github.com/features/mastering-markdown/. Thanks.

[2021-08-18 21:20] crazy-max commented on #443
Can you explain more about your use case?

[2021-08-18 21:25] crazy-max commented on #435
Make sure that your NFS server supports locks; you may need to enable additional processes on the NFS server to accomplish this:
* https://serverfault.com/a/61600/328992
* https://serverfault.com/a/61607/328992

[2021-08-18 21:25] #435 closed

[2021-08-18 21:28] crazy-max commented on #404
Feel free to open a PR, thanks.

[2021-08-18 21:28] crazy-max commented on #332
Not sure I understand, can you give details about your use case?

[2021-08-18 21:48] Nico83500 commented on #332
I'm sorry I forgot to close because it wasn't an issue.
I would like to use something like this (socket_network is internal and diun_network is external) :

  socket_network:
    external: true
  diun_network:
    external: true

I thought it was necessary to indicate which network can access to Internet but it founds itself the right way so no problem.
Thank you !

[2021-08-18 21:48] #332 closed

[2021-08-18 23:05] #444 closed

[2021-08-19 11:06] oliroe commented on #443
Hi

This may be very specific to me. I use an RSS reader for keeping track of all my alerts (incl Github commits/issues/releases, changes to websites etc etc) so for me it would be great to be notified of updates to my Docker containers as an RSS feed rather than using Pushover/Telegram/Email etc.

It may just be me who has an unusual workflow so feel free to close this if you don't think there's

[2021-08-19 11:36] cwldev commented on #443
I'm the same. RSS would be very useful. Being able to check on what containers need updates while reading my daily news would be perfect. RSS and it's regular updating seems to line up perfectly for something like this.

[2021-08-19 11:52] crazy-max commented on #443
I dunno if this functionality should be integrated into Diun. RSS feeds are not event based like other notification providers in this project. This would require creating and exposing an endpoint to be able to subscribe to the RSS feed and also keeping some kind of history of the image updates, which would increase complexity and security risks that I don't really want to address for Diun.

[2021-08-19 11:58] cwldev commented on #443
Totally understandable. This may not be great given those reasons. Because it's useful may not make it practical.

One of the biggest challenges I have is when I'm coming back to diun after some time has passed. Having to go over either the docker log or Discord (what I use) notifications to see what needs to be updated is sometimes a challenge I feel like I miss things. It would nice to just be a

[2021-08-19 12:47] crazy-max commented on #443
@cwldev

You can use the [inspect command](https://crazymax.dev/diun/usage/command-line/#image-inspect) for that purpose:

[code]

[2021-08-19 14:24] cwldev commented on #443
Yea, that's not what I meant. You're describing looking at all versions of one image.

I'm just after asking - of all running images on my server which does diun think need to be updated right now?

Might look like this:

diun -currentupdates

All Detected Images Needing Update:
alpine
wordpress
tt-rss
mysql
caddy:alpine
linuxserver/bookstack

Note: The last detected / notified update might be jus

[2021-08-19 16:14] crazy-max commented on #443
@cwldev

We could add that yes.

[2021-08-19 16:25] cwldev commented on #443
It's something that would be really useful :)

diun is great already, however. I wanted to just say I appreciate the work you do. Thank you.

[2021-08-19 18:01] #441 closed

[2021-08-19 18:29] crazy-max commented on #443
@cwldev

Can you open a new issue for this feature please?

Thanks :)

[2021-08-19 18:29] #443 closed

[2021-08-19 18:44] cwldev opened #464 "Get a list of available updates via command"
I'd like to get all running images on my server that diun thinks need to be updated right now.

Might look like this:

diun -currentupdates

All Detected Images Needing Update:
alpine
wordpress
tt-rss
mysql
caddy:alpine
linuxserver/bookstack

Note: The last detected / notified update might be just one thing (mysql), but I'm after a complete list.

[2021-08-19 19:51] #450 closed

[2021-08-19 19:52] #448 closed

[2021-08-20 20:12] #417 closed

[2021-08-20 20:35] damien67 opened #468 "Remove body from Discord notification & other"
Hi, I am trying to switch my notifications from Gotify to Discord.

On Gotify, they are simple and concise, such as Image update for docker.io/crazymax/diun:edge as title, and a short "Docker tag docker.io/crazymax/diun:edge which you subscribed to ..... has been updated".

On Discord, I get the whole thing as shown here https://crazymax.dev/diun/assets/notif/discord-2.png.
I am not so interested

[2021-08-20 20:39] GenesisAdam commented on #448
The post has been formatted. Are you able to help?
Thanks.

[2021-08-20 20:44] crazy-max commented on #448
@GenesisAdam `templateTitle` and `templateBody` is available since 4.19.0 and you use 4.17.0: https://crazymax.dev/diun/changelog/. Upgrade to the latest release.

[2021-08-20 20:47] crazy-max commented on #468
Please open one ticket per issue: https://github.com/crazy-max/diun/blob/master/.github/SUPPORT.md#writing-good-bug-reports-and-feature-requests

[2021-08-20 20:51] GenesisAdam commented on #448
@crazy-max  Thanks. I will try that and see if it resolves the issue for me.

[2021-08-20 21:03] #454 closed

[2021-08-22 12:14] damien67 commented on #468
@crazy-max, thank you! I will report the Error 429 in another post.

[2021-08-22 19:21] ngosang opened #473 "[Question] Reduce the number of requests to the registry"
I have been testing this software and it's promising. Crongrats!
My only complain is it makes a lot of requests to the registry.
I have this docker image => https://hub.docker.com/r/linuxserver/jackett/tags
As you can see they publish 20+ new tags every day.
If I set "watch_repo=false", Diun works fine because it only gets the metadata for the "latest" tag.
My goal is to set "watch_repo=true" and

[2021-08-30 12:15] #438 closed

[2021-08-30 14:29] adhawkins opened #478 "diun image remove --all command appears to have no effect"
Looking at the source, it appears that the command doesn't make any reference to the 'all' parameter.

## Behaviour

### Steps to reproduce this issue

1. run 'diun image remove --help' - observe '--all' option
2. run 'diun image remote --all' - error reported about missing 'image' parameter

### Expected behaviour

All images should be removed

### Actual behaviour

[code]

[code]

## Configurati

[2021-08-31 09:57] MartenBE opened #479 "Expand notification template to allow container names"
When I receive a notification, I get the list of images which can be updated. However, I have a lot of docker-compose.yml files running, so it gets confusing which I need to update.

e.g. Now I receive something like:

[code]

But it would help if I could also include the container names in the output:

[code]

[2021-08-31 10:08] crazy-max commented on #479
@MartenBE Which version of Diun do you use?

[2021-08-31 10:12] MartenBE commented on #479
I use 4.19.0

[2021-09-03 21:34] crazy-max commented on #478
@adhawkins Yes this flag is not yet implemented. Was thinking of using [`prune` command](https://github.com/crazy-max/diun/blob/fe8482999c28a5df48e4cfb21eb446b4f6cbdd5b/cmd/image.go#L24) instead.

[2021-09-04 14:30] adhawkins commented on #478
Ok, it's no big deal. I was just experimenting with a few things and spotted that command. Thought I'd post a reminder that you haven't implemented it yet. Perhaps at least remove it from the help until it actually does something?

Thanks for a very useful utility.

[2021-09-04 16:41] #468 closed

[2021-09-07 16:21] aptalca opened #484 "4.20.1 crashes on startup with `Failed to decode configuration from environment variables`"
## Behaviour
`4.20.1` (and `4.20.0`) crashes on start with the following error:
[code]

### Steps to reproduce this issue

Updated an existing container with the following compose yaml:
[code]

### Expected behaviour

It should start without errors

### Actual behaviour

Crashes on start and gets into a crash/restart loop.
Pinning to tag `4.19.0` makes it work fine again. `4.20.0` also exhibits th

[2021-09-07 19:41] crazy-max commented on #484
@aptalca

`templateTitle` has been removed for the Discord notifier. Sorry I forgot to add this change to the changelog.

[2021-09-07 19:59] aptalca commented on #484
Ah, that explains it. I just remove both templatetitle and templatebody from the compose yaml and updated to latest image. All works with the defaults.

Thanks

[2021-09-07 19:59] #484 closed

[2021-09-10 09:17] Weasy666 opened #486 "Diun uses old and deprecated login scheme for Matrix"
## Behaviour

### Steps to reproduce this issue

1. Run a [Conduit](https://gitlab.com/famedly/conduit) homeserver
2. Create a bot account and a room on that server
3. Configure Diun with the bot account and the room as message target
4. Run Diun
5. Use `diun notif test`

### Expected behaviour

Successful login to the bot account on my matrix homeserver.

### Actual behaviour

I set up Diun on my

[2021-09-10 10:38] #486 closed

[2021-09-10 12:25] Weasy666 commented on #486
FYI: Successfully tested with the new edge container. Thank you again!

[2021-09-11 15:40] philosowaffle commented on #201
I know nothing about Go, but a bit about instrumenting prometheus, thought I might help flesh out this idea a bit more.

This could be implemented as a new `notif` type in diun.

1. [Go library for Prometheus](https://github.com/prometheus/client_golang)
2. [Docs on instrumenting Go](https://prometheus.io/docs/guides/go-application/)

When publishing notifications, the prometheus notification hand

[2021-09-11 17:00] crazy-max commented on #201
I will work a soon to add support for Prometheus and maybe remote write with OpenTelemetry.

[2021-09-15 15:10] mad73923 opened #488 "Add documentation how to debug app"
Hey,
I'd like to contribute to this project but I can't get a debugger up & running.
How do you debug your code / run it from source?

Thanks

[2021-09-16 17:52] crazy-max commented on #488
Depends on your editor/ide but I have a dev shell environment through a dedicated container with [delve](https://github.com/go-delve/delve) myself I could provide here.

[2021-09-18 09:04] Weasy666 opened #489 "Format .Entry.Manifest.Created"
I am not familiar with Go, but is it possible to format template values? I want to format `.Entry.Manifest.Created` to a more easily readable format, like `Jan 02, 2006 15:04:05 UTC`, but can't find a way to do that.

I tried `{{ .Entry.Manifest.Created.Format('Jan 02, 2006 15:04:05 UTC') }}` which results in an error: `panic: template: body:1: unexpected "(" in operand`.

I also tried a few other

[2021-09-18 13:32] crazy-max commented on #489
@Weasy666 Try with:

[code]

See also the default template body with the mail notifier as an example: https://crazymax.dev/diun/notif/mail/#default-templatebody

[2021-09-18 13:32] #489 closed

[2021-09-18 13:34] #488 closed

[2021-09-18 14:15] Weasy666 commented on #489
🤦‍♂️ i could have sworn i tried that...thx and sorry for the noise 😅

[2021-09-18 21:45] mad73923 commented on #488
Alright, thanks

[2021-09-21 07:54] markhaehnel opened #491 "Option to set `watch_repo` globally"
Is there a way to set `watch_repo` and the corresponding options like `max_tags`, `include_tags` and `exclude_tags` globally or per provider?

The use case for this would be that I want to check all running images (which have precise tags) for new tags, not just updated images.

If not, can you give me info where and how one could implement this in diun and if it would be a beginner friendly pull

[2021-09-28 07:39] martadinata666 opened #493 "Docker & Swarm provider on HTTP registry."
## Behaviour

### Steps to reproduce this issue

1. Deploy image from http registry.
2. Check diun log
3. `Tue, 28 Sep 2021 14:26:16 WIB WRN Cannot get remote manifest error="Cannot get image digest from HEAD request: pinging container registry 192.168.0.2:5050: Get \"https://192.168.0.2:5050/v2/\": http: server gave HTTP response to HTTPS client"`

### Expected behaviour

### Actual behaviour

##

[2021-11-02 14:00] phit42 opened #503 "Feature request: Pushbullet notifications"
It would be nice if notifications via pushbullet would be supported or if sth like containrrr/shoutrrr would be included.

[2021-11-02 14:03] phit42 opened #504 "Feature request: notification at startup"
It would be nice if DIUN could send a notification at startup to the configured notification services about its start, the watched images and the next runtime.

[2021-11-15 08:01] StefPlue opened #508 "Rocketchat: no notification after RocketChat update"
After a new Rocketchat server version was installed at our company, no notifications are displayed there anymore.
The Diun debug log shows the dispatch without errors.
Trying a new token without 2FA authorization did not change this.

### Steps to reproduce this issue

1. Configure Rocketchat as notification
2. Call "diun notif test"

### Expected behaviour
The message is displayed in the Rocketch

[2021-11-24 12:27] laurivosandi commented on #201
Any updates on this? Also please export Docker image timestamp of the running images to easily determine if Docker image is not being updated by the author. This would also help identifying images which are not using `latest` tag and need manual updates

From microservice point of view you could just drop all the notification machinery from Diun and instead solely focus on exporting nice Prom metr

[2021-11-25 10:04] moqmar opened #514 "Feature Request: API webserver notification provider"
I'd like to use Diun with more old-school monitoring tools (like CheckMK or Nagios). For that, it would be extremely nice if it could just provide a simple webserver with a JSON API endpoint that can be queried by e.g. `check_http`, like this:

If everything's up to date:
[code]

If there are updates:
[code]

Is that a feature that would have a chance to be merged if I made a pull request?

[2021-11-25 17:12] SoulEater45 opened #515 "(Web) Dashboard for all information on one place"
I love duin, since I can react right away if there is a new docker image with some update.
But I also like regularly to update my containers due to security reasons.
Something that would be really nice, is a simple dashboard where the monitored containers/images are listed with the current tag/version and the newest update.
The reason for this, is that the messaging channels get sometimes flooded

[2021-12-08 07:56] mpfl opened #516 "Pushover secrets don't appear to be working"
## Behaviour

### Steps to reproduce this issue

1. Create  `/home/diun/secrets/pushover_token` and `/home/diun/secrets/pushover_recipient` containing the correct values from Pushover
2. Verify files have correct permissions
[code]
3. Use docker-compose below to set Diun up - making sure secrets are defined in all the right places and the appropriate environmental variables are set
4. Run sh in co

[2021-12-09 13:37] crazy-max commented on #493
@martadinata666 https://github.com/crazy-max/diun/issues/376#issuecomment-840742923

[2021-12-09 13:37] #493 closed

[2021-12-09 13:40] crazy-max commented on #504
@phit42 That's not something relative to notifications but metrics/tracing with #201. You can also use https://crazymax.dev/diun/config/watch/#healthchecks.

[2021-12-09 13:40] #504 closed

[2021-12-09 13:42] crazy-max commented on #503
@phit42 You can use [Pushover](https://crazymax.dev/diun/notif/pushover/) or [Gotify](https://crazymax.dev/diun/notif/gotify/) but feel free to open a PR.

[2021-12-09 13:53] crazy-max commented on #514
@moqmar Diun doesn't really fit with your request and also exposing this kind of endpoint is not something I'm considering for now. I have not used Nagios for a while but you can use a [passive check](https://assets.nagios.com/downloads/nagioscore/docs/nagioscore/3/en/passivechecks.html) to submit results to Nagios for processing with the [Webhook](https://crazymax.dev/diun/notif/webhook/) notific

[2021-12-09 13:53] #514 closed

[2021-12-09 13:58] crazy-max commented on #515
@SoulEater45 When this project started I had created a branch on which a web server and a simple web page showed the latest notifications but I didn't introduce it because I don't want to expose an endpoint for the moment (same as https://github.com/crazy-max/diun/issues/514#issuecomment-989873343). I'll keep your issue open in case I ever reconsider. Thanks.

[2021-12-09 14:05] crazy-max commented on #516
@mpfl The secret looks to be found otherwise you would have the following error:

https://github.com/crazy-max/diun/blob/7d11524e17a4e1773875c4a3325520e95e60d607/internal/notif/pushover/client.go#L40

This error is returned by the Pushover API. Does it work without using secrets with `DIUN_NOTIF_PUSHOVER_TOKEN` and `DIUN_NOTIF_PUSHOVER_RECIPIENT`?

[2021-12-10 06:57] mpfl commented on #516
Yes, it does work without using secrets. But of course I'd like to use secrets! 🤣

[2021-12-11 15:37] GeoCookie opened #518 "Tag sorting option"
Hi there,

Do you know if Github Container Registry sends out tags sorted in chronological order? Or is it like Docker Hub which sends lexically sorted tags, as discussed here : https://github.com/crazy-max/diun/issues/43

I tried reading the API documentation, but I'm not sure I understand what is written 😄

Cheers

[2021-12-12 18:37] #478 closed

[2021-12-12 23:15] crazy-max commented on #518
@GeoCookie I'm not sure, I need to take a look at it. Maybe we could add a [registry option](https://crazymax.dev/diun/config/regopts/) to customize tags sorting.

[2021-12-12 23:21] crazy-max commented on #491
We can add a `watch.override` opt:

[code]

[2021-12-12 23:30] crazy-max commented on #473
With `watch_repo=true`, Diun will make one request to fetch all tags from this repository and one request per tag to fetch the manifest. If you use `watch_repo=true` and `include_tags` it will do one request to fetch all tags but will fetch manifest for only the tags included by `include_tags`.

Maybe your regexp for `include_tags` is wrong and don't filter anything. You can take a look at some ex

[2021-12-12 23:30] #473 closed

[2021-12-14 01:06] mpfl commented on #516
Is there a command I can use in the container to see what diun thinks the recipient and token are?

[2021-12-14 13:13] markhaehnel commented on #491
That's sounds like a very flexible and solid solution.

[2021-12-14 15:02] crazy-max commented on #491
`watch.defaults` might be a better naming actually.

[2021-12-14 23:21] mpfl commented on #516
I redeployed using log level debug, but unfortunately I wasn't able to get any further information - such as exactly what diun is sending to pushover as my API token.

[2021-12-15 01:07] crazy-max commented on #516
@mpfl I tested myself and it works fine with the same compose file. I guess your secret is incorrect like in https://github.com/crazy-max/diun/issues/300#issuecomment-797006484

[2021-12-15 01:07] #516 closed

[2021-12-15 01:15] mpfl commented on #516
Argh I broke rule 1 of submitting an issue.

Thanks for your wisdom @crazy-max and sorry for wasting your time!

[2021-12-17 14:44] U1F984 commented on #491
I have the same scenario: I avoid using latest but instead use the last specific tagged version but I would like to be notified when latest changes so I can adjust the tag.

Currently I am adding this (Kubernetes provider):

[code]

where `10.3` is the fixed tag I have specified.

[2021-12-21 05:59] Bouni commented on #515
If you don't want to expose an endpoint, maybe you cound render a static HTML page that can be served by the user somewhere else!?
I would really like to see such a feature in whatever way you think is best 😄

[2021-12-21 16:07] SoulEater45 commented on #515
@Bouni there is the option of using the [webhook](https://crazymax.dev/diun/notif/webhook/) for getting the needed informations for the website. I put up a simple endpoint using flask (`python`) and all of the needed information is there. I am also able to save the needed data to an sqlite database and am currently playing around of building a web ui using [anvil](https://anvil.works/). It is pyth

[2021-12-22 15:00] Bouni commented on #515
I'm not experienced in go as well so I would go for a python solution if this will never arrive in diun natively!
Do you have your solution somewhere on github so that I can test it?

[2021-12-23 02:28] michaelkrieger opened #522 "Pushover Notification Customization of sound and priority"
## Behaviour
Pushover always sends with the default sounds but in many cases this can be delivered silently or with a different priority.

### Steps to reproduce this issue
N/A

### Expected behaviour
The [API](https://pushover.net/api) calls for:

**priority** - send as -2 to generate no notification/alert, -1 to always send as a quiet notification, 1 to display as high-priority and bypass the us

[2021-12-31 16:55] logopk opened #526 "error message "no image found in manifest list for architecture arm64""
Hi Max,

could you clarify the error message
[code]
as this is not a file provider. (-> https://crazymax.dev/diun/faq/#no-image-found-in-manifest-list-for-architecture-variant-os)

I'm running diun on an arm64 debian (macbook pro M1 running docker in vmware) and querying amd64 and armhf (pi3).

Happy new year!

Peter

[2022-01-03 04:43] mediacowboy commented on #263
Any news on this? I just started using this and would love this feature as I have 4 host all running docker.

[2022-01-03 10:08] SAOPP commented on #263
Run another docker-instance of diun.

[2022-01-04 15:48] SoulEater45 commented on #515
Sorry for the late response, I have a lot of things to do these days.
I also don't have something to show, except for a basic listener for the requests coming from diun.
As for the dashboard, a friend of mine told me about [homer](https://github.com/bastienwirtz/homer) and it looks really nice. It would be cool to automatically parse docker containers which have a url (nginx, traefik, etc.) and ma

[2022-01-04 16:39] gabrielv33 commented on #263
That's rather inconvenient if you use half a dozen hosts.

[2022-01-04 17:18] mediacowboy commented on #263
Agreed, I would perfer a solution similar to portainer where I can install an endpoint agent.

I am running 5 host all with different services. What I did for now was set up each container with a different api key for pushover and modified the host name to show me which host the container is on when it sends a notification.

[2022-01-04 18:47] SAOPP commented on #263
Agree, but I have half a dozen hosts and 1 docker stack for diun, I don't see a problem bro.

[2022-01-07 01:27] grehund commented on #503
Could you integrate the Apprise API? It would allow us more choices for Notifications.

[2022-01-08 15:46] macuros commented on #508
Same problem. Works with Pushover, but not getting any notifications in private RocketChat channel.

[2022-01-11 19:16] wsc96 commented on #522
This would be great.

[2022-01-16 03:16] ntompson commented on #518
Yes please. I have just been setting up DIUN for my containers and have found tag sorting to be an issue. It appears to be alphabetical rather than chronological or numerical.

To take a nice example, I've configured DIUN as a file provider with the following yaml excerpt:

[code]

This only returns tags that have fully formed version numbers, avoiding `latest`, betas and the like. But after start

[2022-01-16 03:18] ntompson commented on #518
I should add: maybe I'm doing it wrong. But I can't figure out a better way to configure DIUN to track image tags by explicit version number. I don't like using the `latest` tag in my `docker-compose.yml` files as it means I don't know what I'm getting and I can't easily roll back if something breaks. Much better to be working with explicit versioning. But please let me know if there is a better w

[2022-01-16 03:45] ntompson commented on #518
Looking further into this and reading #43, it would appear the root cause is that docker hub returns tag lists sorted alphabetically. That would be fine if people used version tags that worked with alphabetical sorting (so `4.09`, `4.10`, ... rather than `4.9`, `4.10`, ...) but most don't, DIUN included.

I know very little about the Go language, but noticed this:

https://pkg.go.dev/github.com/ha